<div class="row" style="margin:0px;padding:50px 0 20px 0;background-repeat:no-repeat;background-size:auto;">
  <!-- background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(4, 68, 126, 0.9)), url('/static/images/aai.jpg') -->

  <div class="col-md-8 col-md-offset-1">
    <div class="col-md-12">
    <h2>Machine Learning & Artifical Intelligence </h2>
    </div>
    <video controls="true" width="100%">
      <source src="/static/videos/24tutors.mp4" type="video/mp4" />
    </video>
    <div class="col-md-12">
    <div class="col-md-6 noPadding text-muted hidden-xs">
      <h2>How to Learn AI?? </h2>
      <h6>Artificial intelligence is emerging now and many companies are adopting it. Many developers have concern about how and where ...</h6>
    </div>
    <div class="col-md-6 text-right text-muted hidden-xs">
    <h5>Gary Sims</h5>
      <h5>7 Months ago.</h5>
    </div>
    </div>
  </div>
  <div class="col-md-12 visible-xs">
    <div class="col-sm-6 noPadding text-muted">
      <h3>How to Learn AI?? </h3>
      <p>Artificial intelligence is emerging now and many companies are adopting it. Many developers have concern about how and where ...</p>
    </div>
  </div>
  <div class="col-md-3 playlist">
    <div class="col-md-12" style="" ng-repeat="i in [1,2,3]">
      <div class="container-fluid">
        <div class="thumbnil" style="background-image: url('/static/images/aii.jpg');">
          <div class="thumbnil_overlay" ng-click="watchVideo(v,$index)">
            <span class="play12"> <i class="fa fa-play" aria-hidden="true"></i></i></span>
          </div>
        </div>
        <div class="vid_desc">
          <span>
            <strong> Intro at AI.</strong>
          </span><br>
          <div class="col-md-12 noPadding">
            <span class="text-muted">Tried&Refused Productions.</span>
            <span class="text-muted pull-right"> 3 days ago</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
