<div class="row" style="margin:0px;background: url('/static/images/remote_header.jpg');background-repeat: no-repeat;background-size: cover;min-height:500px;padding:90px 0px 0px 0px;background-position:center;">
  <div class="col-md-4 col-md-offset-2 col-xs-12" style="color:#00a7e6;">
    <h1 style="font-size:50px;font-weight:600;">Hi, Fair Isaac</h1>
    <span style="font-size:30px;">Make ServiceNow even more powerful with a seamless remote support integration</span>
  </div>
  <div class="col-md-3 col-md-offset-1" style="padding-bottom:30px;">
    <div class="" style="position: relative; width: 100%;">
      <img src="/static/images/rem_img.png" alt="" width="100%" height="auto;">
      <a type="button" class="btn hero-button"ng-click="schedule()">Request Demo</a>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:10px;">
  <div class="col-md-12 text-center">
    <h2>This is how remote support gets done.</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="col-md-4" style="padding:30px;">
      <img src="/static/images/bunny.svg" alt="">
      <h4>Connect. Solve. Done.</h4>
      <p>
        Forget waiting. Get going and solve the toughest issue with battle-tested speed, scalability and reliability — EpsilonAI gets you connected in 20 seconds or less.</p>
    </div>
    <div class="col-md-4" style="padding:20px;">
      <img src="/static/images/brain.svg" alt="">
      <h4>Smarter support.</h4>
      <p>
        EpsilonAI aggregates session and resolution data in real time so you can monitor and manage your support teams more effectively.</p>
    </div>
    <div class="col-md-4" style="padding:8px;">
      <img src="/static/images/tools.svg" alt="">
      <h4>Simply solved.</h4>
      <p>
        EpsilonAI is simple enough to be seamlessly integrated into any workflow, and quickly adopted by support staff, without breaking a sweat.</p>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <a type="button" class="btn btn-primary bigbtn" style="background-color:#013157"> <b>View Features</b> </a>
  </div>
</div>
<div class="row demo_row">
  <div class="col-md-12"style="color: #fff;">
      <div class="col-md-3 col-md-offset-2 text-center demo_video">
        <h2>Take your remote support software capabilities to the next level</h2>
        <p>When it comes to support, you need to be able to help end-users whenever, wherever. EpsilonAI + Mobile allows IT and customer support teams to provide comprehensive, efficient support to not only PCs and Macs, but Android and iOS mobile
          devices as well.</p>
          <div class="">
            <a class="btn btn-primary bigbtn" style="background-color:#013157">Watch Video</a>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-3 playbtn">
            <img src="/static/images/play.png">
      </div>
  </div>
</div>
<div class="row" style="margin:0px;">
  <div class="col-md-12 laptop_bg">
    <div class="col-md-4 col-md-offset-2 platform_img">
      <img src="/static/images/platform.svg">
    </div>
    <div class="col-md-4 col-md-offset-2" style="color:#fff;font-size:18px;padding:40px;">
      <h3>Support without boundaries.</h3>
      <p>No matter the device, solve every problem seamlessly and securely with remote support software for PC, Mac, iOS, Android and more. EpsilonAI lets you connect in seconds, helping to increase client satisfaction and decrease support costs.</p>
      <div class="">
        <a href="" type="button" class="btn btn-primary bigbtn"style="background-color:#013157;"ng-click="schedule()">Support Everyone</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:10px;">
  <div class="col-md-12 text-center">
    <h2>Simple pricing meets trusted remote support.</h2>
    <h5>No setup fees. No guessing. Predictable pricing, always. Billing plan per seat:</h5>
  </div>
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="col-md-6">
      <h3>EpsilonAI</h3>
      <div class="price-box">
        <div class="ribbon blue">
          <div><i>Save 30%</i></div>
        </div>
        <div><span>$108.<sup>25</sup></span> / month*</div>
      </div>
      <div style="padding:10px;"> <small>*Billed annually</small> </div>
      <a href="" type="button" class="btn btn-success" style="border-radius:40px;width:150px;">Buy Now</a>
    </div>
    <div class="col-md-6">
      <h3>EpsilonAI + Mobile</h3>
      <div class="price-box">
        <div class="ribbon blue">
          <div><i>Save 27%</i></div>
        </div>
        <div><span>$148.<sup>25</sup></span> / month*</div>
      </div>
      <div style="padding:10px;"><small>*Billed annually</small></div>
      <a href="" type="button" class="btn btn-success" style="border-radius:40px;width:150px;">Buy Now</a>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:10px;background-color:#f0eded">
  <div class="col-md-12 text-center">
    <h3> Successful remote support starts with intelligent perspective.</h3>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-3  remote-box col-sm-12">
      <div class="col-md-6 remote-top col-sm-6">
        <h4>The Importance of Remote Support in a Shift-Left World</h4>
      </div>
      <div class="col-md-6 remote-bottom col-sm-6">
        <h6>Analyst Reports | Remote Support </h6>
        In an effort to deliver effective support, many organizations are
        beginning to implement a Shift-Left approach in order to better
        enable their teams to solve complex issues quickly and efficiently.
      </div>
      <button type="button" class="btn btn-success" style="width:100%;border-radius:0px;">View Now</button>
    </div>
    <div class="col-md-3 remote-box col-sm-12">
      <div class="col-md-6 remote-top col-sm-6">
        <h4> A Shift to Remote IT Services Alleviates Support and Help Desk Headaches</h4>
      </div>
      <div class="col-md-6 remote-bottom col-sm-6">
        <h6>Analyst Reports | Remote Support</h6>
        Implementing remote IT support services can bring relief while also improving end user satisfaction and helping lower costs.
      </div>
      <button type="button" class="btn btn-success" style="width:100%;border-radius:0px;">View Now</button>
    </div>
    <div class="col-md-3 remote-box col-sm-12">
      <div class="col-md-6 remote-top col-sm-6">
        <h4>Drive Customer Experience &amp; Boost Revenues with Next-Gen Customer Support</h4>
      </div>
      <div class="col-md-6 remote-bottom col-sm-6">
        <h6> Datasheets | Remote Support, Customer Service </h6>
        Learn how strong customer support can help enhance customer experience and drive customer engagement.
      </div>
      <button type="button" class="btn btn-success" style="width:100%;border-radius:0px;">View Now</button>
    </div>
    <div class="col-md-3 remote-box col-sm-12">
      <div class="col-md-6 remote-top col-sm-6">
        <h4>Improving Customer Support for Exceptional Customer Experience</h4>
      </div>
      <div class="col-md-6 remote-bottom col-sm-6">
        <h6>Datasheets | Remote Support, Customer Service</h6>
        Tips on changing customer expectations and delivering on customer's needs.
      </div>
      <button type="button" class="btn btn-success" style="width:100%;border-radius:0px;">View Now</button>
    </div>
  </div>

</div>
