<div class="row nlp_header">
  <div class="col-md-6 col-md-offset-1">
    <div class="col-md-12" style="padding:20px;padding-top:30px;">
      <h1>Language Understanding (LUIS)</h1>
      <h4>A machine learning-based service to build natural language into apps, bots, and IoT devices. Quickly create enterprise-ready, custom models that continuously improve. </h4>
    </div>
    <div class="col-md-12" style="padding:20px">
      <a href="#" class="btn blue_common_btn" type="button">Login / Signup</a>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;">
  <div class="col-md-10 col-md-offset-1 benefit_div">
    <div class="col-md-12 text-center">
      <h1>Benefits</h1>
    </div>
    <div class="">
      <div class="col-md-6 nlp_images hidden-lg hidden-md">
        <img src="/static/images/feat_inte.png">
      </div>
      <div class="col-md-6">
        <h2>Add natural language to your apps</h2>
        <span>Designed to identify valuable information in conversations, LUIS interprets user goals (intents) and distills
          valuable information from sentences (entities), for a high quality, nuanced language model. LUIS integrates seamlessly with
          the EpsilonAI Bot Service, making it easy to create a sophisticated bot. </span>
      </div>
      <div class="col-md-6 nlp_images hidden-xs hidden-sm">
        <img src="/static/images/feat_inte.png">
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 benefit_div">
    <div class="">
      <div class="col-md-6 nlp_images">
        <img src="/static/images/feat_prebuilt.png">
      </div>
      <div class="col-md-6">
        <h2>Quickly build a custom language solution </h2>
        <span>Powerful developer tools are combined with customizable
          pre-built apps and entity dictionaries, such as Calendar, Music,
          and Devices, so you can build and deploy a solution more quickly.
          Dictionaries are mined from the collective knowledge of the web and supply
          billions of entries, helping your model to correctly identify valuable information
          from user conversations. </span>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 benefit_div">
    <div class="">
      <div class="col-md-6 nlp_images hidden-lg hidden-md">
        <img src="/static/images/feat_target.png">
      </div>
      <div class="col-md-6">
        <h2>Always learning and improving</h2>
        <span>Active learning is used to continuously improve the quality of the natural
          language models. Once the model starts processing input, LUIS begins active learning,
          allowing you to constantly update and improve the model. </span>
      </div>
      <div class="col-md-6 nlp_images hidden-xs hidden-sm">
        <img src="/static/images/feat_target.png">
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 benefit_div">
    <div class="">
      <div class="col-md-6 nlp_images">
        <img src="/static/images/feat_monitor.png">
      </div>
      <div class="col-md-6">
        <h2>Enterprise-ready, available worldwide</h2>
        <span>The service is ready to be deployed in commercial applications and can
          scale with enterprise quality and performance. The service meets international
          compliance standards, supports 13 languages and available worldwide, making it highly
          accessible around the world. </span>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:30px 0px 20px 0px;background-color:#eee;">
  <div class="col-md-10 col-md-offset-1" style="border-bottom: 0.2rem solid #989898;padding-bottom:2rem;">
    <div class="col-md-12 text-center">
      <h1>Explore Language Understanding scenarios</h1>
      <h2>Information Chatbot</h2>
      <span style="font-weight:bold">This Informational Bot can answer questions defined in a knowledge set or FAQ using Cognitive Services QnA Maker and answer more open-ended questions using EpsilonAI Search. <a href="#"> Learn more </a></span>
    </div>
    <div class="col-md-12 text-center explore_div">
      <img src="/static/images/information_chatbot.png">
    </div>
    <div class="col-md-12">
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">1</span> <span class="bullet_text"> Employee starts the Application Bot</span> </li>
          <li><span class="bullet">2</span> <span class="bullet_text">EpsilonAI Active Directory validates the employee’s identity</span> </li>
          <li><span class="bullet">3</span> <span class="bullet_text">The employee can ask the bot what type of queries are supported </span> </li>
          <li><span class="bullet">4</span> <span class="bullet_text"> Cognitive Services returns a FAQ built with the QnA Maker</span> </li>
        </ul>
      </div>
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">5</span> <span class="bullet_text"> The employee defines a valid query</span> </li>
          <li><span class="bullet">6</span> <span class="bullet_text">The Bot submits the query to EpsilonAI Search which returns information about the application data</span> </li>
          <li><span class="bullet">7</span> <span class="bullet_text">Application insights gathers runtime telemetry to help development with Bot performance and usage</span> </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center" style="color:#044395;padding-top:20px;">
      <h3>"Conversation as a platform is the future, so it’s great that we’re already offering it to our customers using the Bot Framework and EpsilonAI." </h3>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1" style="border-bottom: 0.2rem solid #989898;padding-bottom:2rem;">
    <div class="col-md-12 text-center">
      <h1>IoT Devices</h1>
      <span style="font-weight:bold">Create seamless conversational interfaces with all of your internet accessible devices. From your connected television, fridge to devices in a connected power plant. LUIS is able to integrate up to 500 intents to
        translate commands into smart actions. <a href="#"> Learn more </a></span>
    </div>
    <div class="col-md-12 text-center explore_div">
      <img src="/static/images/iot_devices.png">
    </div>
    <div class="col-md-12">
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">1</span> <span class="bullet_text">User logs into Skype and accesses the IoT Bot</span> </li>
          <li><span class="bullet">2</span> <span class="bullet_text">Using voice the user asks the Bot to turn on the lights via the IoT device</span> </li>
          <li><span class="bullet">3</span> <span class="bullet_text">The request is relayed to a 3rd party service that has access to the IoT device network</span></li>
        </ul>
      </div>
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">4</span> <span class="bullet_text">The results of the command are returned to the user</span></li>
          <li><span class="bullet">5</span> <span class="bullet_text">TApplication insights gathers runtime telemetry to help development with Bot performance and usage</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center" style="color:#044395;padding-top:20px;">
      <h3>"It’s amazing once development started how quickly the whole thing came together… We didn’t need to build any special functionality to connect the bot to our product catalog and stock data—we just used existing feeds." </h3>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1" style="padding-bottom:2rem;">
    <div class="col-md-12 text-center">
      <h1>Commerce Chatbot</h1>
      <span style="font-weight:bold">Together, Language Understanding and EpsilonAI Bot Service enable developers to create conversational interfaces for various scenarios like banking, travel, and entertainment. For example, a hotel’s concierge can use
        a bot to enhance traditional e-mail and phone call interactions by validating a customer via EpsilonAI Active Directory and using Cognitive Services to better contextually process customer requests using text and voice. The Speech recognition
        service can be added to support voice commands. <a href="#"> Learn more </a></span>
    </div>
    <div class="col-md-12 text-center explore_div">
      <img src="/static/images/commerce_chatbot.png">
    </div>
    <div class="col-md-12">
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">1</span> <span class="bullet_text">Customer uses your mobile app</span> </li>
          <li><span class="bullet">2</span> <span class="bullet_text">Using EpsilonAI AD B2C, the user authenticates</span> </li>
          <li><span class="bullet">3</span> <span class="bullet_text">Using the custom Application Bot, user requests information </span> </li>
          <li><span class="bullet">4</span> <span class="bullet_text">Cognitive Services helps process the natural language request</span> </li>
        </ul>
      </div>
      <div class="col-md-6 noPadding">
        <ul class="bullet_ul">
          <li><span class="bullet">5</span> <span class="bullet_text">Response is reviewed by customer who can refine the questionusing natural conversation</span> </li>
          <li><span class="bullet">6</span> <span class="bullet_text">Once the user is happy with the results, the Application Botupdates the customer’s reservation</span> </li>
          <li><span class="bullet">7</span> <span class="bullet_text">Application insights gathers runtime telemetry to help development with Bot performance and usage</span> </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center" style="color:#044395;padding-top:40px;">
      <h3>"It’s really simple and seamless to move data into the cloud. And if customers want to apply machine learning or predictive analytics, they can do so without additional complexity." </h3>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:30px 0px 20px 0px">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-12 text-center" style="padding:20px 0 20px 0;">
      <h2>Related products and services</h2>
      <h3>Check out the channels, tools, and service integrations that have people talking.</h3>
    </div>
    <div class="row">
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_bot.png">
        </div>
        <div class="col-md-12">
          <h2>EpsilonAI Bot Service</h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_maker.png">
        </div>
        <div class="col-md-12">
          <h2>QnA Maker</h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_analytics.png">
        </div>
        <div class="col-md-12">
          <h2>Text Analytics API</h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_spell.png">
        </div>
        <div class="col-md-12">
          <h2>Bing Spell Check </h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_speech.png">
        </div>
        <div class="col-md-12">
          <h2>Bing Speech API </h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center" style="padding-bottom:20px;">
        <div class="row text-center">
          <img src="/static/images/icon_search.png">
        </div>
        <div class="col-md-12 ">
          <h2>EpsilonAI Search </h2>
          <h5>With EpsilonAI's serverless experience your bots scale based on demand</h5>
          <a href="#">
            <b> LEARN MORE</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="row" style="margin:0px;padding:40px 0px 20px 0px;background-color:#eceff1;">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6 analysis_text">
      <h1>Powerful text analysis</h1>
      <p> Google Cloud Natural Language reveals the structure and meaning of text both through powerful pretrained machine learning models in an easy to use REST API and through custom models that are easy to build with AutoML Natural LanguageBeta.
        Learn more about <a href="#">Cloud AutoML.</a><br></p>
      <p>You can use Cloud Natural Language to extract information about people, places, events, and much more mentioned in text documents, news articles, or blog posts. You can use it to understand sentiment about your product on social media or
        parse intent from customer conversations happening in a call center or a messaging app. You can analyze text uploaded in your request or integrate with your document storage on Google Cloud Storage. </p>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <img src="/static/images/powerful.png">
    </div>
  </div>

  <div class="col-md-7 col-md-offset-3">
    <div class="col-md-8">
      <h3 text-muted>Try the API</h3>
      <textarea class="text_area" placeholder=""></textarea>
      <a href="#">see supported languages</a>
    </div>
    <div class="col-md-4" style="padding-top:60px;">
      <button type="button" class="btn blue_common_btn"> ANALYZE</button>
    </div>
  </div>

  <div class="col-md-7 col-md-offset-3" style="padding-top:30px;padding:20px;">
    <div class="row common_padding">
      <div class="col-md-3">
        <img src="/static/images/insights.png" width="100%">
      </div>
      <div class="col-md-9">
        <h3>Insights from your customers</h3>
        <span class="ml_text">Extract actionable insights on product reception or user experience from email, chat, or social media by using entity detection and sentiment analysis.</span>
      </div>
    </div>
    <div class="row common_padding">
      <div class="col-md-3 hidden-lg hidden-md">
        <img src="/static/images/hello.png" width="100%">
      </div>
      <div class="col-md-9">
        <h3>Multimedia multilingual support</h3>
        <span class="ml_text">Combine the API with our Google Cloud Speech API and extract insights from audio conversations. Use with Vision API OCR to understand scanned documents. Extract entities and understand sentiments in multiple languages by translating text
          first with Cloud Translation. </span>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <img src="/static/images/hello.png" width="100%">
      </div>
    </div>
    <div class="row common_padding">
      <div class="col-md-3">
        <img src="/static/images/classification.png" width="100%">
      </div>
      <div class="col-md-9">
        <h3>Content classification relationship graphs</h3>
        <span class="ml_text">Classify documents by common entities or 700+ general categories such as news, technology, and entertainment. Build relationship graphs of entities extracted from news or Wikipedia articles by using signals from the state-of-the-art
          syntax analysis. </span>
      </div>
    </div>
    <div class="row common_padding">
      <div class="col-md-3 hidden-lg hidden-md">
        <img src="/static/images/deep.png" width="100%">
      </div>
      <div class="col-md-9">
        <h3>Best of Google deep learning models</h3>
        <span class="ml_text">This API brings to you the same machine learning technology that both powers Google's ability to find specific answers to user questions in Google search and is the language-understanding system behind Google Assistant. </span>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <img src="/static/images/deep.png" width="100%">
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;min-height:50vh;padding-bottom:8rem;padding-top:70px;">
  <div class="" style="border-bottom: 1px solid #ededed;">
    <div class="carousel_tabs">
      <div ng-click="carousel('0')"class="{{status_c1}}">
        <img class="logo" src="/static/images/1.png" alt="Ocado logo" width="100%">
      </div>
      <div ng-click="carousel('1')"class="{{status_c2}}">
        <img src="/static/images/2.png" alt="News UK logo" width="100%">
      </div>
      <div ng-click="carousel('2')"class="{{status_c3}}">
        <img class="logo" src="/static/images/33.png" alt="Hearst Newspapers logo" width="100%">
      </div>
    </div>
  </div>
  <div class="carousel_content col-md-8 col-md-offset-2" style="left: 0%;">
    <div class="carousel_item" ng-show="show_c1">
      <p>
        "{{c1}}"
      </p>
      <strong>— {{q1}}</strong>
    </div>
    <div class="carousel_item" ng-show="show_c2">
      <p>
        "{{c2}}"
      </p>
      <strong>— {{q2}}</strong>
    </div>
    <div class="carousel_item" ng-show="show_c3">
      <p>
        "{{c3}}"
      </p>
      <strong>— {{q3}}</strong>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;background-color:#eceff1;position:relative;min-height:50vh;">
  <div class="sticker is_circle">
    <img src="/static/images/grey.png">
  </div>
  <div class="col-md-8 col-md-offset-2"style="padding-top:60px;">
    <h2>Cloud Natural Language API features</h2>
    <div class="col-md-6 common_padding">
      <div class="row">
        <h3> <strong>Syntax analysis</strong> </h3>
        <span class="ml_text">Extract tokens and sentences, identify parts of speech (PoS), and create dependency parse trees for each sentence. </span>
      </div>
      <div class="row">
        <h3> <strong>Entity recognition</strong> </h3>
        <span class="ml_text">Identify entities and label by types such as person, organization, location, events, products, and media. </span>
      </div>
      <div class="row">
        <h3> <strong>Sentiment analysis </strong> </h3>
        <span class="ml_text"> Understand the overall sentiment expressed in a block of text. </span>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 common_padding">
      <div class="row">
        <h3> <strong>Content classification</strong> </h3>
        <span class="ml_text"> Classify documents in 700+ predefined categories. </span>
      </div>
      <div class="row">
        <h3> <strong>Multilanguage </strong> </h3>
        <span class="ml_text">Enables you to easily analyze text in multiple languages including English, Spanish, Japanese, Chinese (simplified and traditional), French, German, Italian, Korean, and Portuguese. </span>
      </div>
      <div class="row">
        <h3> <strong>Integrated REST API</strong> </h3>
        <span class="ml_text">The Natural Language API is accessible via REST API. Text can be uploaded in the request or integrated with <a href="#"> Google Cloud Storage. </a> </span>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding-bottom:8rem;min-height:50vh;">
  <div class="col-md-12 text-center common_padding">
    <h2>How AutoML Natural Language <sup>Beta</sup> works</h2>
  </div>
  <div class="col-md-12 text-center automl">
    <img src="/static/images/automl.png">
  </div>
</div>

<div class="row" style="margin:0px;background-color:#eceff1;position:relative;min-height:50vh;">
  <div class="sticker is_circle mobile">
    <img src="/static/images/grey.png">
  </div>
  <div class="col-md-8 col-md-offset-2"style="padding-top:60px;">
    <h2 class="hidden-xs hidden-sm">AutoML Natural Language <sup>Beta</sup> features</h2>
    <h2 class="visible-xs visible-sm">AutoML Natural Language <sup>Beta</sup> features</h2>
    <div class="col-md-6 common_padding">
      <div class="row">
        <h3> <strong>Custom models </strong> </h3>
        <span class="ml_text">Train custom machine learning models with minimum effort and machine learning expertise. </span>
      </div>
      <div class="row">
        <h3> <strong>Sentiment analysis </strong> </h3>
        <span class="ml_text"> Leverages Google state-of-the-art AutoML technology to produce high quality models. </span>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 common_padding">
      <div class="row">
        <h3> <strong>Content classification</strong> </h3>
        <span class="ml_text"> Create labels to customize models for unique use cases using your own training data. </span>
      </div>
      <div class="row">
        <h3> <strong>Integrated REST API</strong> </h3>
        <span class="ml_text">AutoML Natural Language is accessible via REST API. Text can be uploaded in the request or integrated with <a href="#"> Google Cloud Storage. </a> </span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
