<div class="col-md-3">
  <div class="container-fluid card" style="border-radius:10px;border:1px solid green;margin-bottom:10px">
    <div class="row" style="padding:10px;font-size:20px">
      <strong>{{data.name}}</strong>
    </div>
    <div class="row">
      <div class="col-md-6">
        <i class="fa fa-eye fa-2x" style="cursor:pointer" ng-click="rowActionClicked('viewTemplate')"></i>
      </div>
      <div class="col-md-6">
        <i class="fa fa-pencil fa-2x pull-right" style="color:blue;cursor:pointer" ng-click="rowActionClicked('editTemplate')"></i>
      </div>
    </div>
  </div>
</div>
