<div class="row" style="margin:0px;color:#000;padding:40px 0px 20px 10px;">
  <div class="col-md-10 col-md-offset-1">
    <h2>Custom Machine Learning and AI Items</h2>
    <h4 class="text-muted">Know-how, useful information and support for your Machine Learning journey, no matter its complexity.</h4>
    <hr>
  </div>
</div>
<div class="row" style="margin:0px;margin-bottom:30px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 box12" style="position:relative;box-sizing:border-box;margin-bottom:20px;"ng-repeat="i in [1,2,3,4,5,6,7,8]">
      <div class="shaddowed noPadding container-fluid">
        <div class="row" style="background-image:url('/static/images/help-docs.png');background-size:cover;height:30vh;width:100%;padding:0;margin:0px;">
        </div>
        <div class="container-fluid" style="min-height:200px;">
          <h3>Connector for Salesforce Lightning Platform</h3>

          <span class="text-muted">Scheer Process API provides several code activities for connecting the UiPath Robot to a Scheer PAS instance. </span>

          <div class="row" style="position:absolute;bottom:5px;width:100%;font-size:20px;">
            <div class="col-md-8" style="color:#FF540A;float:left">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4" style="float:right;padding-right:50px;">
              20 <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"ng-click="custom_detail('card',$index)">
        <span class="search12"> <i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <!-- <div class="col-md-3 box12 ">
      <div class="shaddowed noPadding container-fluid">
        <div class="row" style="background-image:url('/static/images/docu.jpg');background-size:cover;height:30vh;width:100%;padding:0;margin:0px;">
        </div>
        <div class="container-fluid" style="min-height:200px;">
          <h3>Digitally signed Pdf documents</h3>

          <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo t, sed do eiusmod tempor incididunt ut labore </span>

          <div class="row" style="position:absolute;bottom:5px;width:100%;font-size:20px;">
            <div class="col-md-8" style="color:#FF540A;float:left;">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4" style="float:right;padding-right:50px;">
              20 <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay">
        <span class="search12"> <i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="col-md-3 box12">
      <div class="shaddowed noPadding container-fluid">
        <div class="row" style="background-image:url('/static/images/lap.jpg');background-size:cover;height:30vh;width:100%;padding:0;margin:0px;">
        </div>
        <div class="container-fluid" style="min-height:200px;">
          <h3>Digitally signed Pdf documents</h3>
          <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo t, sed do eiusmod tempor incididunt ut labore </span>
          <div class="row" style="position:absolute;bottom:5px;width:100%;font-size:20px;">
            <div class="col-md-8" style="color:#FF540A;float:left;">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4" style="float:right;padding-right:50px;">
              20 <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay">
        <span class="search12"> <i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="col-md-3 box12">
      <div class="shaddowed noPadding container-fluid">
        <div class="row" style="background-image:url('/static/images/paper.jpg');background-size:cover;height:30vh;width:100%;padding:0;margin:0px;">
        </div>
        <div class="container-fluid" style="min-height:200px;">
          <h3>Digitally signed Pdf documents</h3>
          <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo t, sed do eiusmod tempor incididunt ut labore </span>
          <div class="row" style="position:absolute;bottom:5px;width:100%;font-size:20px;">
            <div class="col-md-8" style="color:#FF540A;float:left;">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4" style="float:right;padding-right:50px;">
              20 <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay">
        <span class="search12"> <i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div> -->


  </div>
</div>
