<div class="row" style="margin:0px;">
  <div class="col-md-7 text-center bgrnd_main">
    <div class="col-md-7 col-md-offset-2" style="padding:90px 0px 20px 0px;text-align: left;font-weight: lighter;font-family: sans-serif;">
      <span style="font-size:45px;">The destination for workplace learning</span><br>
      <span style="font-size:22px;line-height:1.5;">Learn and improve skills across business, tech, design, and more. Taught by experts to help your workforce do whatever comes next.</span><br><br>
      <a type="button" class="btn btn-default redbtn"ng-click="schedule()">Get started</a>
    </div>
  </div>
  <div class="col-md-5 bgrnd"></div>
</div>
<div class="row" style="margin:0px;padding:20px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/amazon.png" width="100%">
    </div>
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/Oreo.png" width="100%">
    </div>
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/skill.png" width="100%">
    </div>
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/dis.png" width="100%">
    </div>
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/gini.png" width="100%">
    </div>
    <div class="col-md-2 col-xs-6 min_padding">
      <img src="/static/images/libreRPA.png" width="100%">
    </div>
  </div>
  <div class="col-md-12 text-center col-xs-12"style="padding:20px;">
    <a href="">Checkout their stories ></a>
  </div>
</div>
<div class="row" style="margin:0px;background-color:#f7f8fa">
  <div class="col-md-12 text-center" style="padding:20px;">
    <h2> The most engaging corporate learning platform available</h2>
  </div>
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="col-md-4" style="padding:20px;">
      <img src="/static/images/03.svg" alt="" width="60px">
      <h4>Access business-relevant content instantly</h4>
      <h5>Unlock 3,000+ high-quality courses on key topics</h5>
    </div>
    <div class="col-md-4" style="padding:20px;">
      <img src="/static/images/02.svg" alt="" width="60px">
      <h4>Measure learning engagement</h4>
      <h5>Get valuable insights into user behavior and learning patterns</h5>
    </div>
    <div class="col-md-4" style="padding:20px;">
      <img src="/static/images/01.svg" alt="" width="60px">
      <h4>Scale your company's learning</h4>
      <h5>Build your own training content in a customized learning account</h5>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;min-height:400px;background-image: linear-gradient(198deg,#ec5252 0,#6e1a52 100%);">
  <div class="col-md-6 col-md-offset-3 col-xs-12" style="padding:20px;">
    <div class="col-md-8" style="padding:50px 0px 0px 0px;">
      <img src="/static/images/video-devices.png" width="100%">
    </div>
    <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3 text-center" style="color:#fff;padding:80px 0px 0px 0px;">
      <img src="/static/images/play-button.png" width="100px">
      <h3>Watch our product overview</h3>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:20px;">
  <div class="col-md-7 col-md-offset-3">
    <div class="col-md-4" ng-repeat="i in [1,2,3]" style="padding:10px;">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="/static/images/userIcon.png" width="70"> <strong>Angela Yu</strong>
        <div class="">
          <h5><em>iOs Development<br> <br>110,236+ students <br><br>Founder of the London App Brewery,
              a top-rated programming bootcamp. Provides in-person mobile development training to Oracle, Salesforce, and Ford.</em></h5>
          <small>Angela's featured courses:</small>
          <h5 class="text-muted">iOS 11 & Swift 4 <br> Complete iOS App Development Bootcamp
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;min-height:400px;background-color: #007791;padding:20px 0px 20px 0px;">
  <div class="col-md-8 text-center col-md-offset-2" style="color:#fff;">
    <div class="col-sm-10 col-sm-offset-1">
      <img src="/static/images/userIcon.png" width="118">
      <div class="" style="background-image:url('static/images/quote.png');background-repeat: no-repeat;background-size: contain;">
        <h3><em>It's tremendous. When people find things they're interested in, they'll spend 300 minutes on that topic inside the Udemy for Business platform. Udemy for Business has created the opportunity for us to learn way more about
            what
            our employees want. It's been staggering the amount of traffic we've gotten from dedicated Udemy learners.</em></h3>
      </div>
    </div>
  </div>
  <div class="row"style="margin:0px;">
    <div class="col-md-8 col-md-offset-3">
      <div class="col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-3">
        <img src="/static/images/paypal.png" width="100%">
      </div>
      <div class="col-md-4 col-xs-6" style="color:#fff;border-left:1px solid #fff">
        <span><strong>Derek Hann</strong> </span><br>
        <span>Chief Learning Officer, PayPal</span>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row" style="margin:0px;background-image:url('/static/images/constellation-bg.png');background-repeat: no-repeat;background-size: cover;min-height: 200px;background-position: center;background-color:#080738">
  <div class="col-md-12 text-center" style="color:#fff;padding:20px">
    <h2>Experience a better learning platform</h2><br>
    <a type="button" class="btn btn-default redbtn"ng-click="schedule()">Get a free demo</a>
  </div>
</div>
