<div class="row impliment_header">
  <div class="col-md-7 col-md-offset-2" style="padding:70px 20px;text-align: left">
    <h1 style="font-size:55px;">Epsilon AI </h1>
    <h4 style="font-size:22px">Artificial intelligence productivity for virtually every developer and scenario</h4>
    <a type="button" class="btn neonbtn"ng-click="schedule()">Try Epsilon AI free</a>
  </div>
</div>
<div class="row" style="margin:0px;padding:15px 0px">
  <div class="col-md-8 col-md-offset-2" style="padding:10px 0px;">
    <div class="col-md-8 col-xs-12">
      <h3>Demystifying AI</h3>
      <p>With the flexible Epslion AI platform and a wide portfolio of AI productivity tools, you can build
        the next generation of smart applications where your data lives, in the intelligent cloud,
        on-premises and on the intelligent edge.</p>
      <p>Achieve more with the comprehensive set of flexible and trusted AI services - from pre-built
        APIs, such as Cognitive Services and Conversational AI with Bot tools, to building custom models
        with Epslion AI Machine Learning for any scenario. TheEpslion AI AI platform also features enterprise-grade AI infrastructure,
        which runs AI workloads anywhereat scale. Modern AI tools designed for developers and data scientists
        help you create AI solutions easily, with maximum productivity.</p>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="shaddowed" style="padding:30px;line-height: 2.5;">
        <h4>AI Use cases</h4>
        <ul class="list-unstyled">
          <li><a href="#">Predictive Maintenance</a></li>
          <li><a href="#">Defect Detection with Image Analysis</a></li>
          <li><a href="#">Custom Entity Extraction with Text Analytics</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;background-color:#1a1a1f;color: #fff;">
  <div class="col-md-8 col-md-offset-2 connect_bg col-xs-12">
    <h2>Epsilon AI Connect();</h2>
    <span style="color:#2CB1E5">4 December, 2018</span>
    <p>See the highlights from Epsilon AI Connect();—from technical keynotes to demos and coding sessions.</p>
    <a href="" type="button" class="btn neonbtn">Watch on demand</a>
  </div>
</div>
<div class="row" style="margin:0px;background-color:#0078d4;color: #fff;">
  <div class="col-md-8 col-md-offset-2">
    <h2>Why Epsilon AI</h2>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-4 min_size">
      <h4> <strong>Productive and powerful AI tools</strong> </h4>
      <p>Get started with our comprehensive offering to
        create innovative AI applications: choose from innovative Pre-Built AI
        to Customisable ML and Deep Learning services and tools.</p>
    </div>
    <div class="col-md-4 min_size">
      <h4> <strong>Bringing AI where you are</strong> </h4>
      <p> We provide Data and AI, so you can build the next generation of
        applications where your data already lives – in the intelligent cloud,
        on-premises and on the intelligent edge – with the skills you already
        have. Container based deployment of models enables AI to run anywhere
        a Docker container can run, in our cloud, on your servers or on devices.</p>
    </div>
    <div class="col-md-4 min_size">
      <h4> <strong>Open and flexible platform</strong></h4>
      <p>Easily choose the technology and deep learning framework suited for your
        scenario and skills with an open platform. Cognitive Services can be consumed
        by apps written in any language and custom models can be built with the latest
        frameworks like Tensorflow, MXNet, Chainer, CNTK and more.</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-4 min_size">
      <h4> <strong>Benefit from decades of AI investment</strong> </h4>
      <p> From Microsoft Research to Bing, Office, Windows, Xbox and other AI-driven
        products, we have been using AI for decades. That is why we have so many proven
        pre-built AI models for you to use directly in your applications. </p>
    </div>
    <div class="col-md-4 min_size">
      <h4> <strong>Benefit from decades of AI investment</strong></h4>
      <p> Microsoft has been leading the industry in establishing and meeting clear
        security and privacy requirements. Epslion AI meets a broad set of international
        and industry-specific compliance standards, such as ISO 27001, HIPAA, FedRAMP
        and SOC Rigorous third-party audits verify Epslion AI’s adherence to the strict security
        controls these standards mandate. </p>
    </div>
    <div class="col-md-4 min_size">
      <h4> <strong> Innovative hardware at hyperscale</strong> </h4>
      <p> Microsoft optimises for AI, from the latest in GPU technology to FPGA accelerated
        AI models and networks, giving developers power and flexibility for building and running
        models at the highest scale in 50 regions worldwide.</p>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;background-color:#f4f4f4;padding:0px">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6 col-xs-12"style="padding:30px 0px;">
      <h3>AI Process</h3>
      <p>Incorporating AI into your applications consists of three key steps,
        but depending on your requirements and capabilities, Epslion AI AI has flexible
        tools to suit your needs. Select our pre-built tools like Cognitive Services
        for enterprise-grade, off-the-shelf technology which can enable some customisation
        or choose a tool like Epslion AI Machine Learning which allows you to bring your own data
        to enable deeper control and customisation.</p>
    </div>
    <div class="col-md-6 text-center"style="padding:30px 0px;">
      <div class="col-md-4">
        <img src="/static/images/prepare.svg">
        <h4> <strong>prepare data</strong> </h4>
        <h6>Connect to various sources to ingest data</h6>
      </div>
      <div class="col-md-4">
        <img src="/static/images/train.svg">
        <h4> <strong>Build and train</strong> </h4>
        <h6>Establish a model and train with the data</h6>
      </div>
      <div class="col-md-4">
        <img src="/static/images/run.svg">
        <h4> <strong>Deploy</strong> </h4>
        <h6>Deploy the model and track performance</h6>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:20px 0px;">
  <div class="col-md-8 col-md-offset-2">
    <h4> <strong>AI Services</strong> </h4>
    <h5>Accelerate the development of your AI solutions with high-level services. Use your preferred approach,
      adapted to your targeted scenario and achieve maximum productivity and reliability.</h5>
    <div class="col-md-8" style="padding:40px;">
      <div class="col-md-2 text-center" style="padding:20px;">
        Explore APIs:
      </div>
      <div class="col-md-2 text-center">
        <img src="/static/images/eye.svg" width="40%">
        <h5>Vision</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="/static/images/chat.svg" width="40%">
        <h5>Speech</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="/static/images/text-quotes.svg" width="40%">
        <h5>Language</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="/static/images/cells.svg" width="40%">
        <h5>Knowledge</h5>
      </div>
      <div class="col-md-2 text-center">
        <img src="/static/images/magnifier.svg" width="40%">
        <h5>Search</h5>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;background-image: linear-gradient(106deg,#0078d4 50vw,#243a5e calc(50vw + 1px),#243a5e 50vw);background-color: #243a5e;background-repeat: no-repeat;min-height:200px;background-position-x: -250px;">
<div class="col-md-8 col-md-offset-2">
<div class="col-md-4 col-xs-12 explore_text">
  <h4>New to AI?</h4>
  <h5>Explore popular pre-built services for free</h5>
  <a type="button" class="btn neonbtn"ng-click="schedule()">Try Cognitive Services</a>
</div>
<div class="col-md-8"style="text-align:left;color:#50e6ff;padding:30px 0px">
  <div class="col-md-3 col-md-offset-1 text-center">
    <img src="/static/images/penta.png" alt="">
  </div>
  <div class="col-md-7 col-md-offset-1 col-xs-12"style="padding:30px 0px;line-height:2.5;">
    <ul class="list-unstyled">
      <li><i class="fa fa-check" aria-hidden="true"></i> Enable great voice interactions</li>
      <li><i class="fa fa-check" aria-hidden="true"></i> Enhance with ad-free, customisable search results</li>
      <li><i class="fa fa-check" aria-hidden="true"></i> Extract rich information from images and videos</li>
    </ul>
  </div>
</div>
</div>
</div>
