<br/>
<br/>
<div class="container-fluid" style="margin:0;padding:0;">
  <div  style="background-image: url('static/images/brugg-elevator-ctp-header.jpg');background-repeat: no-repeat;background-size: cover;min-height:40vh;">
  </div>

  <div class="container">
    <div style="margin-top:2em">
      <span style="color:#079DE0;font-size:28px;margin-top:2em">Elevator ropes from BRUGG LIFTING.CTP®.</span><br/>
      <span style="color:#079DE0;font-size:28px"> Coated Transmission Products.</span>
    </div>
    <div style="margin-top:2em;font-size:16px;">
      <span>A world first, CTP® unites technological innovation for the highest demands. This high-end rope is unbeatable in terms of function and efficiency. See for yourself:</span>
      <div style="margin-top:2em;" >
          <iframe  class="iframeFit" style="padding:0;margin:0" src="https://www.youtube.com/embed/ZUlmWlJrdcQ" frameborder="0" allowfullscreen ></iframe>
      </div>
      <div style="margin-top:2em;">
        <h4><b>Reduce your total cost by up to 40%.</b></h4>
        <span>A smaller rope diameter and a smaller drive allow for a reduction of capital and operating cost.</span>
      </div>
      <div style="margin-top:2em;">
        <h4><b>Reduce your maintenance cost by up to 100%.</b></h4>
        <span>CTP® is a self-contained system which requires neither lubrication nor maintenance.</span>
      </div>
      <div style="margin-top:2em;">
        <h4><b>Enjoy a clearly improved travelling comfort.</b></h4>
        <span>The polymer coating eliminates or strongly absorbs vibrations, which significantly contributes to a smooth running.</span>
      </div>
      <div style="margin-top:2em;">
        <h4><b>Increase the service life by at least the 3-fold.</b></h4>
        <span>Since the traction sheave and the elevator rope is not subject to wear, the frequency of rope replacement and the related costs are reduced.</span>
      </div>
    </div>
    <hr>
    <div style="margin-top:2em;">
      <div class="row text-center">
        <div class="col-md-offset-2 col-md-2 col-xs-4 " >
          <span >CTP  </span>
        </div>
        <div class="col-md-8 col-xs-8 text-left" ><span style="">Steel core rope with coated transmission, 6 strands, separate lay</span></div>
        <div class="col-md-2 col-xs-4"  style="height:160px;"  >
          <img  id="hoverZoom" src="static/images/ctp_s.jpg" ng-click= 'tableshow("firstimg")' /><br/>
          <img id="hoverImg" src="static/images/magnifier.png" ng-click= 'tableshow("firstimg")'/>
          <span>6x19W-IWRC  , 2600 sZ (RRL)</span>
        </div>
        <div class="col-md-2 col-xs-4" style="height:160px;">
          <div style="height:40px;text-align:left">
          </div>
          <div style="background-color:#f2f2f2;height:55px;display: table;width:100%">
            <span style="   display:table-cell;text-align:center;vertical-align: middle;width:100%">18,129*10<sup>6</sup> psi</span><br/>
          </div>
          <span class="geryColor">Elastic elongation</span>
        </div>

          <div class="col-md-2  col-xs-4" style="height:160px;">
            <div style="height:40px;" style="height:160px;">
            </div>
            <div style="background-color:#f2f2f2;height:55px;display: table;width:100%">
              <span style="  display:table-cell;text-align:center;vertical-align: middle;width:100%">0,104 %</span><br/>
            </div>
            <span class="geryColor">Permanent  elongation</span>
          </div>
          <div class="col-md-2 col-xs-4" >
            <div style="height:40px;" style="height:160px;">
            </div>
            <div style="background-color:#f2f2f2;height:55px;display: table;width:100%">
              <span style="  display:table-cell;text-align:center;vertical-align: middle;width:100%">0,13%</span><br/>
            </div>
            <span class="geryColor" >Lifting height<div popover-placement="bottom" popover-class="dynamic-popover" uib-popover="The defined lifting height
              is based on an elevator with a 1:1 suspension and is only indicative. It does not replace the exact calculation according to the system specifications."
               popover-trigger="mouseenter"> <i class="fa fa-info" style="color:#009de0;" ></i></div></span>
          </div>
          <div class="col-md-2 col-xs-4" >
            <div style="height:40px;" style="height:160px;">
            </div>
            <div style="background-color:#f2f2f2;height:55px;display: table;width:100%">
              <span style="   display:table-cell;text-align:center;vertical-align: middle;width:100%">≤ 75 m  , ≤ 250 ft</span></br>
            </div>
          </div>
          <div class="col-md-2 col-xs-4" style="height:160px;" >
            <div style="height:40px;">
            </div>
            <div style="background-color:#f2f2f2;height:55px;display: table;width:100%" ng-click="dataView('six')">
              <span class="text-center" style="  display:table-cell;text-align:center;vertical-align: middle;width:100%">Click to see this  data</br>
            </div>
            <span class="geryColor">Technical Data</span>
          </div>
          <div class="col-md-12 col-xs-12" >
            <span>For highest demands on elongation, riding comfort and service life.</span>
          </div>
      </div>
    <hr>

    <div class="row text-center" ng-if="display.six" style="border:1px solid #f2f2f2;margin:1em;padding:2em;position:relative;" >
      <div class="pull-right" ng-click = "close('six')" style="width:30px;height:30px;border-radius:15px;background-color:#d2d2d2;cursor:pointer;position:absolute;top:-15px;right:10px;">
        <i class="fa fa-remove " style="font-size:20px;padding-top:3px"></i>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="pull-right">Breaking Load(kN) :</span>
        </div>
        <div class="col-md-6">
          <input type="range"  min="20" max="40" step="0.5" ng-model="load"  ng-change="updateTextInput(load,weight,'six');">
        </div>
        <div class="col-md-2">
          <span style="color:#000;background-color:#f2f2f2;display:block;width:100%">{{load}} (kN)</span>
        </div>
      </div>
      <div class="row" style="margin-top:1em;">

         <div class="col-md-4">
           <span class="pull-right">Weight(kg/100m) :</span>
         </div>
         <div class="col-md-6">
           <input type="range" name="points" min="10" max="20" step="0.5" ng-model="weight"  ng-change="updateTextWeight(load,weight,'six');">
         </div>
         <div class="col-md-2">
           <span style="color:#000;background-color:#f2f2f2;display:block;width:100%">{{weight}} (kg/100m)</span>
         </div>

      <div class="col-md-12 table-responsive" style="margin-top:2em;" ng-if="table">
        <table class="table text-center table-hover">
          <thead >
            <tr class="table ">
              <th class="text-center" width='10%'>Item No</th>
              <th class="text-center" width='20%' colspan="2" >Rope</th>
              <th class="text-center" width='20%'  colspan="2" >Breaking Load</th>
              <th class="text-center" width='20%'  colspan="2" >Weight</th>
              <th class="text-center" width='30%'  >Contruction</th>
            </tr>
            <tr class="table ">
              <th></th>
              <th class="text-center">mm</th>
              <th class="text-center">in</th>
              <th class="text-center">kN</th>
              <th class="text-center">lbs</th>
              <th class="text-center">kg/100m</th>
              <th class="text-center">lb/ft</th>
              <th></th>
            </tr>

          </thead>
          <tbody>
            <tr ng-repeat = "d in dataFilter">
              <td>{{d.no}}</td>
              <td>{{d.ropemm}}</td>
              <td>{{d.ropein}}</td>
              <td>{{d.loadkn}}</td>
              <td>{{d.loadlbs}}</td>
              <td>{{d.weightkg}}</td>
              <td>{{d.weightlb}}</td>
              <td>{{d.construction}}</td>
            </tr>
          </tbody>
        </table>
       </div>
       </div>
    </div>
  </div>
    <!-- <div class="flex-container" style="margin-top:2em;display:flex;align-items: flex-start;">
      <div class="">
        <img src="static/images/ctp_s.jpg" /><br/>
        <span>6x19W-IWRC </span></br>
        <span> 2600 sZ (RRL)</span>
      </div>
      <div class="" style="margin:1em;">
        <div class="" >
          <span>CTP</span>
          <div class="text-center">
            <span>18,129 x 10<sup>6<sup> psi</span>
          </div>
          <span class="text-center">Elastic elongation</span>
        </div>
      </div>
      <div style="flex-grow:4;margin:1em;">

        <span>Steel core rope with coated transmission, 6 strands, separate lay</span>
        <div class="" style="margin-top:1em;display:flex;align-items: flex-end;">

          <div class="" style="flex-grow:1">
            <div class="text-center">
              <span>0,104 %</span>
            </div>
            <span class="text-center"></span>
          </div>


          <div class="" style="flex-grow:1" >
            <div class="text-center" >
              <span>0,13 %</span>
            </div>
            <span class="text-center"></span>
          </div>


          <div class="" style="flex-grow:1">
            <div class="text-center" >
              <span>≤ 75 m , ≤ 250 ft </span>
            </div>
            <span class="text-center"></span>
          </div>

          <div class="" style="flex-grow:1">
            <div class="text-center" >
              <span><i class="fa fa-table fa-2x" style="color:#000"></i></span></br>
            </div>
            <span class="text-center"></span>
          </div>

        </div>
      </div>
    </div> -->
  </div>

</div>
<br/>
<br/>
