<div class="row" style="margin:0px;">

  <div class="container-fluid excelmain text-center">
    <h1 style="padding-top: 4em;">Explore Fastest Spreadsheet </h1>
    <h1> Processing RPA Solution </h1>
  </div>

  <div class="container-fluid" style="background-color:#ecf7ff;">
    <div class="container text-center" style="padding-bottom: 5em;">
      <h1 style="color: #f48934;font-weight: 100;padding-top: 1.5em">Excel Automation</h1>
      <div class="col-md-6 col-xs-12">
        <p class="text-left" style="font-size:17px;color:#808080;padding-top: 1em;">{{excel1}}</p>
        <p class="text-left" style="font-size:17px;color:#808080;padding-top: 1em;">{{excel2}}</p>
      </div>
      <div class="col-md-6 col-xs-12 fullwidth">
        <img src="/static/images/spredsheet.png" alt="Excel automation is a fastest spreadsheet processing RPA solution" class="autoimg" />
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color:#f5f5f5;">
    <div class="container text-center" style="padding-bottom: 5em;">
      <h1 style="color: #f48934;font-weight: 100;padding-top: 1.5em;">Why AutomationEdge for Excel Automation</h1>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <img src="/static/images/auto1.png" style="padding-top: 1.5em;" /><br />
          <h3 style="padding-top:0.1em;"><strong><span style="color: #000000; font-size: 20px;">Does not need a screen</span></strong></h3><br />
          <ul style="list-style-type:none;font-size:17px;line-height:20.4px;color:#000" class="text-left check">
            <li class="tick">Does not require a screen for Excel/Spreadsheet automation</li>
            <li class="tick">Much faster processing</li>
            <li class="tick">100% Background processing</li>
            <li class="tick">Increased multitasking</li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-12">
          <img src="/static/images/auto2.png" style="padding-top: 1.5em;" /><br />
          <h3 style="padding-top:0.1em;"><strong><span style="color: #000000; font-size: 20px;">Does not need an installed software</span></strong></h3><br />
          <ul style="list-style-type:none;font-size:17px;line-height:20.4px;color:#000" class="text-left check">
            <li class="tick">No need for any software on machine</li>
            <li class="tick">Saves on licensing cost</li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-12">
          <img src="/static/images/auto3.png" style="padding-top: 1.5em;" /><br />
          <h3 style="padding-top:0.1em;"><strong><span style="color: #000000; font-size: 20px;">10X faster than the competition</span></strong></h3><br />
          <ul style="list-style-type:none;font-size:17px;line-height:20.4px;color:#000" class="text-left check">
            <li class="tick">High-speed processing</li>
            <li class="tick">Eliminates the work of opening and closing a software</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-4 col-xs-12">
          <img src="/static/images/auto4.png" style="padding-top: 1.5em;" /><br />
          <h3 style="padding-top:0.1em;"><strong><span style="color: #000000; font-size: 20px;">Format Agnostic</span></strong></h3><br />
          <ul style="list-style-type:none;font-size:17px;line-height:20.4px;color:#000" class="text-left check">
            <li class="tick">Works with any spreadsheet format</li>
            <li class="tick">Works with multiple formats within the same process as well</li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-12 ">
          <img src="/static/images/auto5.png" style="padding-top: 1.5em;" /><br />
          <h3 style="padding-top:0.1em;"><strong ><span style="color: #000000; font-size: 20px;">Header Agnostic</span></strong></h3><br />
          <ul style="list-style-type:none;font-size:17px;line-height:20.4px;color:#000" class="text-left check">
            <li class="tick">Works with files having different column names/headers</li>
            <li class="tick">Works with varying positions of columns across different worksheet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color:#00405b;">
    <div class="text-center" style="padding-bottom: 5em;">
      <h1 style="color: #fff;font-weight: 100;padding-top: 1.5em;">Excel Automation Use Cases</h1>
      <p style="color: #fff;font-size: 15px;font-weight: 1000;padding-top: 1em;">
        AutomationEdge is a user-friendly tool for Excel automation which uses simple and complex data to retrieve, manipulate, monitor and analyze regularly. Organizations are
        getting quick ROI with this automation along with reduction in time and increased reliability.
      </p>

      <div class='row text-center' style="padding-top: 1em ;">
        <div class="col-md-1" style="padding: 1em 0 1em 0;">
        </div>
        <div ng-repeat="a in images1">
          <div class="col-md-2" style="padding: 1em 0 1em 0;">
            <img ng-src="{{a.img}}" style="width:25%;padding-bottom: 2em;" /><br />
            <span style="color: #fff;font-size: 15px;font-weight: 1000;">{{a.text}}</span>
          </div>
        </div>
      </div>

      <div class='row text-center' style="padding-top: 1em ;">
        <div class="col-md-1" style="padding: 1em 0 1em 0;">
        </div>
        <div ng-repeat="a in images2">
          <div class="col-md-2" style="padding: 1em 0 1em 0;">
            <img ng-src="{{a.img}}" style="width:25%;padding-bottom: 2em;" /><br />
            <span style="color: #fff;font-size: 15px;font-weight: 1000;">{{a.text}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
