<div class="row" style="margin:0px;color:#fff;background-image:linear-gradient(to bottom, rgba(171, 196, 251, 0.3), rgba(139, 156, 242, 0.86)), url('/static/images/ai-logo.png');background-size: cover;background-repeat:no-repeat;height:40vh;padding-top:60px;">

</div>
<div class="row" style="margin:0px;padding:20px;">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="" style="border-bottom:1px solid #08369d">
      <h2> <strong>Connector for Salesforce Lightning Platform </strong> <i class="fa fa-shield" style="color:green"></i></h2>
    </div>
    <div class="col-md-8 noPadding">
        <h2>overview</h2>
        <hr>
        <h4>A set of 75 Activities and 5 wizards that allow you to do a very fast implementation for Salesforce Lightning Platform. </h4>
        <p>For this activity there are around 20 movies on youtube:<br>
          https://www.youtube.com/channel/UCiSb0WLTgB23jT0E6NEuu7Q <br></p>
        <p> The Salesforce Activity package allows you to perform various
          operations such as adding, deleting, updating, or getting (ADD, DELETE, UPDATE or GET)
          on the main entities of Salesforce. The main entities include ACCOUNT, ASSET, CASE, CONTACT,
          LEAD, CAMPING, FILE, OPPORTUNITY, TASK,PRICEBOOK,PRODUCT,QUOTE. For the other tables in Salesforce
          and for the custom ones, the package contains Add, Update and Delete activities that can be used without
          any restriction by name or structure.</p>
      <div class="container-fluid">
        <h2>Media</h2>
        <hr>
        <video controls="true" class="player">
          <source src="/static/videos/24tutors.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="container-fluid content_div" style="">
        <div class="shaddowed">
          <div class="content_bar">
            <div ng-click="changeview('benefit')"><a href=""> <strong>Benefits</strong> </a></div>
            <div ng-click="changeview('dependencies')"><a href=""> <strong>Dependencies</strong> </a></div>
            <div ng-click="changeview('compatibility')"><a href=""> <strong>Compatibility</strong> </a></div>
          </div>
        </div>
        <div class="content_data">
          <div ng-show="show_benefit">
            <ul>
              <li>{{l1}}</li>
              <li>{{l2}}</li>
              <li>{{l3}}</li>
            </ul>
          </div>
          <div class="" ng-show="show_dependencies">
            {{dependencies_content}}
          </div>
          <div class="" ng-show="show_compatibility">
            {{compatibility_content}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 rating_div">
        <div class="text-center">
          <h2>Connector for Salesforce Lightning Platform</h2>
          <div class="row" style="font-size:20px;">
            <div class="col-md-8" style="color:#FF540A;float:left">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-4" style="float:right;padding-right:50px;">
              20 <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
          </div>
          <button type="button" class="btn custom_btn">login</button><br>
          <a href="#"><i class="fa fa-thumb-tack" aria-hidden="true"></i> bookmark for later</a><br><br>
        </div>
        <div class="content_details">
          <strong>Published: </strong> 21 November 2018 <br>
          <strong>Updated: </strong> 09 December 2018 <br>
          <strong> Downloads: </strong> 157 <br>
          <strong>Version: </strong> 1.0.0.559 <br>
          <strong>Tags: </strong><a href="#">Salesforce</a> <a href="#">Sfdc</a> <br>
          <strong>Process: </strong><a href="#"> Finance And Accounting</a> <a href="#">Sales</a>
        </div>
    </div>
  </div>
</div>
