/*properties for normal screen size starts here  */
.lang {
  text-decoration: none;
}

.footer h4 {
  color: #928ec9;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
}

.footer a {
  color: #ccc;
  font-size: 12px;
}

.footer a:hover {
  color: #ffc107;
  text-decoration: none;
}

.terms>li {
  border-right: 1px solid #fff;
  color: #ccc;
  font-size: 12px;
  padding-right: 15px;
}

.genericHeading {
  text-align: center;
  color: #452d54;
  font-weight: bold;
}

.blog_container {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

.flex_50Perc {
  flex: 50%;
  height: 50vh;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.sec1Right {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex: 50%;
  height: 50vh;
}

.sec1RightBox1 {
  flex: 100%;
  height: 25vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.sec1RightBox2 {
  flex: 50%;
  height: 25vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.blog_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  opacity: 0.8;
}

.blog_text {
  position: absolute;
  bottom: 8px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.4); */
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #090909, 0 0 20px #090909, 0 0 20px #000, 0 0 20px #0f0f0f, 0 0 20px #000;
}

.sec2Left {
  flex: 75%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.sec2Right {
  flex: 25%;
  background-color: #eaeef5;
}

.flex_33Perc {
  flex: 33%;
  height: 25vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.sec2thirdRow {
  display: flex;
  flex-wrap: wrap;
  flex: 75%;
}

.flex_67Perc {
  flex: 66%;
  height: 50vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.flex_100Perc {
  flex: 100%;
  height: 25vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.flex_25Perc {
  flex: 25%;
  height: 25vh;
  position: relative;
  cursor: pointer;
  background-color: #000;
}

.blogDetailsTitle {
  font-size: 40px;
  color: white;
  margin: 30px 0px;
}

.content_box {
  flex: 45%;
  order: 3;
  margin-top: 100px;
}

.circleDiv {
  flex: 45%;
  order: 1;
}

.circles {
  list-style-type: none;
  position: relative;
  right: -10px;
}

.circles li:nth-child(1) {
  background-color: #fff;
  border: 30px solid #080738;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
}

.hoverEffect:hover {
  display: none;
  opacity: 0.3 !important
}

.overlay {
  position: absolute;
  width: 92%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  opacity: 0;
  cursor: pointer;
}

.box12:hover .overlay {
  opacity: 1;
  transition: 0.5s ease;
}

.search12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 96px;
}

.circles li:nth-child(2) {
  background-color: #36d4ff;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 200px;
  top: 300px;
  z-index: 2;
}

.circles li:nth-child(3) {
  background-color: #fff;
  border: 10px solid #7500ff;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: absolute;
  right: 70px;
  top: 480px;
  z-index: 1;
}

.toMoveUp {
  animation: toUp 1s;
}

.toMoveDown {
  animation: toDown 1s;
}

@keyframes toUp {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.detailRight {
  width: 500px;
  height: 60vh;
  border: 1px solid rgba(0, 40, 85, .5);
  border-radius: 5px;
  padding: 20px 50px 0px 50px;
  text-align: left;
  letter-spacing: -1px;
  word-spacing: 3px;
}

.detailLeft {
  background: url('/static/images/stories-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 550px;
  height: 60vh;
  padding: 10px;
}

#bpoDesc {
  padding: 40px;
  color: #022750;
  font-family: sans-serif;
}

.ai_img_div {
  padding: 30px;
}

.hero-button {
  border: 2px solid #013157;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  background-color: #013157;
  color: #fff;
  position: absolute;
  top: 78%;
  left: 25%;
  width: 50%;
}

.hero-button:hover {
  color: #fff;
}

.remote-box {
  background-color: #fff;
  padding: 0px;
  min-height: 350px;
  margin: 10px;
  width: 22%;
}

.remote-top {
  width: 100%;
  border-left: 8px solid #0da5e4;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  background-image: linear-gradient(rgba(11, 29, 92, 0.82), rgba(18, 24, 97, 0.6)), url('/static/images/left.jpg');
  color: #fff;
  padding: 10px;
}

.remote-bottom {
  width: 100%;
  padding: 10px;
  min-height: 250px;
}

.price-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 124px;
  margin: 10px auto 0;
  border: 1px solid #0f5891;
  color: #0f5891;
  font-size: 22px;
  background-color: #f5fcff;
}

.ribbon.blue {
  position: absolute;
  top: 10px;
  left: -9px;
  height: 29px;
  padding: 12px 2rem;
  background-color: #0f5891;
  font-size: 1.33333rem;
  left: -12px !important;
  padding: 2px 2rem !important;
  color: #fff;
  font-weight: bold;
}

.ribbon.blue div::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -.7em;
  left: 0;
  border-width: .8em 0 0 .9em;
  border-style: solid;
  border-color: #636363 transparent transparent;
}

.laptop_bg {
  margin: 0px;
  background-image: url('/static/images/lapmob.jpg');
  min-height: 600px;
}

.platform_img {
  padding-top: 330px;
  padding-left: 70px;
}

.playbtn {
  padding-top: 130px;
}

.demo_video {
  padding: 20px;
  font-size: 16px;
}

.demo_row {
  margin: 0px;
  padding: 10px;
  background: url('/static/images/andro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-position: center;
}

.bgrnd_main {
  background-color: rgba(5, 20, 43, 0.85);
  min-height: 500px;
  color: #fff;
}

.bgrnd {
  background-image: linear-gradient(to right, rgba(5, 20, 43, 0.85), rgba(5, 20, 43, 0.14)), url('/static/images/hero1.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-position: center;
}

.redbtn {
  background-color: #f24b4b;
  color: #fff;
  outline: 0;
  border-radius: 2px;
  z-index: 100;
  border: 1px solid #f24b4b;
  max-width: 200px;
  padding: .8em 2.5em;
  font-size: 16px;
}

.redbtn:hover {
  background-color: #f66464;
  color: #fff;
  border: 1px solid #f45858;
}

.min_padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.impliment_header {
  margin: 0px;
  background-image: url('/static/images/blue_waves.jpg');
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

.connect_bg {
  background-image: url('/static/images/connect-2018.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #1a1a1f;
  min-height: 250px;
  padding: 40px;
}

.neonbtn {
  color: #111010;
  background-color: #aef711;
  border-radius: 2px;
  z-index: 100;
  border: 1px solid #aef711;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
}

.neonbtn:hover {
  color: #111010;
  background-color: #8df432;
  border: 1px solid #8df432;
}

.min_size {
  font-size: 16px;
  min-height: 250px;
}

.explore_text {
  text-align: left;
  color: #fff;
  padding: 20px;
}

.arrow_btn {
  transition: all 0.5s ease;
  display: inline-block;
  cursor: pointer;
  width: 105px;
  height: 105px;
  background: url("/static/images/red.svg") no-repeat center center;
}

.arrow_btn:hover {
  background: url('/static/images/white.svg') no-repeat center center;
  width: 105px;
  height: 105px;
}

.arrow_text {
  display: inline-block;
  float: left;
  font-weight: bold;
  letter-spacing: 0.88px;
  margin-top: 40px;
}

.box_div {
  min-height: 108vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.box_container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
}

.boxes {
  min-height: 50vh;
  height: auto;
  padding: 4rem;
  z-index: 1;
  margin-top: -15vh;
}

.primary_text {
  margin: 0;
  padding: 0;
}

.secondary_text {
  margin: 0;
  padding: 0;
}

.clear_text {
  margin: 0;
  padding: 0;
}

.stat_number sup {
  top: -7rem;
  left: -0.5rem;
  font-size: 4rem;
  letter-spacing: 0.3px;
  line-height: 1.5;
  display: inline-block;
  font-family: sans-serif;
  position: relative;
}

.stat_number .counter-up {
  font-size: 12rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
  font-family: sans-serif;
}

.stat_description {
  width: 40%;
  font-size: 4rem;
  font-family: sans-serif;
  margin-bottom: 30px;
  text-transform: none;
  margin-top: 0;
  font-weight: lighter;
  font-style: normal;
  line-height: 1;
}

.box-primary {
  float: left;
  display: block;
  margin-right: .57586%;
  width: 49.71207%;
  margin-top: -10vh;
  background-color: #ff555f;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.box-secondary {
  background-color: #8c5d8e;
  float: left;
  display: block;
  margin-right: .57586%;
  width: 41.33075%;
  margin-left: 58.66925%;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.box-clear {
  margin-right: 0;
  float: left;
  display: block;
  width: 41.33075%;
  margin-left: 8.38132%;
}

.box-clear .stat_number {
  color: #ff555f;
}

.main_div {
  min-height: 108vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.main_container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
}

.main_bg_p {
  min-height: 85vh;
  padding: 4rem;
  margin-top: 0;
}

.main_bg_s {
  width: 50%;
  min-height: 108vh;
  padding: 4rem;
  z-index: 0;
  margin-top: 0;
  color: #fff;
}

.bg_primary {
  width: 100%;
  float: left;
  display: block;
  color: #fff;
  background-color: #8c5d8e;
  z-index: 0;
}

.bg_secondary {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.85)), url('/static/images/building_hero.jpg');
  background-repeat: no-repeat;
  float: left;
  display: block;
  margin-right: 0;
  width: 50.33075%;
  margin-left: 49.622%;
  z-index: 3;
  margin-top: -43.9333%;
  background-size: cover;
}

.left_text {
  position: absolute;
  z-index: 20;
  width: 90%;
  padding: 6rem;
}

.left_title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem
}

.left_description {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 7.5rem;
}

.right_text {
  position: absolute;
  z-index: 20;
  width: 28%;
  padding-top: 70rem;
}

.right_description {
  font-size: 2rem;
}

.right_btn {
  position: absolute;
  right: -50%;
  bottom: 1%;
}

.chart {
  min-height: 790px;
  height: 80vh;
  overflow: visible !important;
  position: relative;
}

.chart_graphic {
  position: absolute;
  top: -270px;
  height: 100%;
  pointer-events: none;
  right: 0;
  width: 100%;
  left: -14px;
}

.chart_svg {
  width: 100vw;
}

.jumbo_div {
  padding: 5rem 0 1rem 0;
}

.Jumbo_title {
  color: #000;
  font-size: 7rem;
  font-family: sans-serif;
  font-weight: lighter;
  min-height: 100px;
  padding: 3rem 5rem;
}

.jumbo_text {
  color: #fff;
  font-size: 4.5rem;
  font-family: sans-serif;
  font-weight: lighter;
}

.tiny_text {
  color: #fff;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.hero_div {
  min-height: 60vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.hero_container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
}

.hero_left {
  width: 50%;
  float: left;
  height: 50vh;
  padding: 6rem 9rem 0 9rem;
}

.hero_left h1 {
  font-size: 4.6rem;
  font-weight: bold;
  font-family: sans-serif;
}

.vertical_bar_left {
  border: 6px solid #FF540A;
  height: 43vh;
  position: absolute;
  left: 17%;
  top: 5%
}

.vertical_bar_right {
  border: 6px solid #FF540A;
  height: 43vh;
  position: absolute;
  left: 53%;
  top: 5%
}

.hero_right {
  background-image: url('/static/images/robots.jpg');
  background-size: cover;
  width: 50%;
  height: 50vh;
  float: left;
  right: 0;
}

.ai_div {
  padding: 6rem;
}

.ai_title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #002856;
}

.ai_description {
  font-size: 2rem;
  color: #222222;
}

.ai_btn {
  background-color: #fff;
  padding: 1.7rem 2.6rem;
  border-radius: 0px;
  border: 2px solid #002856;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: bold;
  width: 35%;
}

.ai_btn:hover {
  background-color: #002856;
  color: #fff;
}

.ai_img {
  padding: 0;
}

.ai_text {
  padding: 0;
}

.resource_div {
  min-height: 20vh;
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.resource_container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 0rem;
}

.resource {
  min-height: 20vh;
  height: auto;
  z-index: 1;
  margin-top: 0;
  border-radius: 9px;
}

.resource_primary {
  padding: 1.5rem;
}

.resource_secondary {
  padding: 1.5rem;
}

.resource_clear {
  padding: 1.5rem;
}

.resource_primary {
  float: left;
  width: 22vw;
  position: absolute;
  background-color: #FF540A;
  top: -10vh;
  color: #fff;
  text-align: center;
}

.resource_secondary {
  float: left;
  width: 22vw;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.9)), url('/static/images/neurons.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  left: 39.6%;
  top: -10vh;
  color: #fff;
  text-align: center;
}

.resource_clear {
  float: left;
  width: 22vw;
  position: absolute;
  background-color: #002856;
  top: -10vh;
  right: 10%;
  color: #fff;
  text-align: center;
}

.res_1 {
  position: relative;
}

.res_2 {
  position: relative;
}

.res_3 {
  position: relative;
}

.res_icon {
  width: 8vh;
}

.res_description {
  font-size: 1.2vw;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 136%;
  left: 2%;
}

.thumbnil_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  opacity: 0;
  cursor: pointer;
  min-height: 200px;
  width: 100%
}

.play12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 96px;
}

.load12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 90px;
  width: 100%
}

.thumbnil {
  background-size: cover;
  min-height: 200px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.thumbnil:hover .thumbnil_overlay {
  opacity: 0.8;
  transition: 0.2s ease;
  color: red;
}

.content_div {
  padding-top: 20px;
}

.content_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.content_bar div {
  float: left;
  padding-right: 30px;
  width: auto;
}

.content_bar div a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content_bar div a:hover {
  background-color: #003058;
  color: #fff;
}

.player {
  width: 100%;
  height: 40vh;
}

.content_data {
  height: 30vh;
  padding: 27px;
}

.content_data ul {
  padding: 0px;
}

.custom_btn {
  color: #2a49e4;
  width: 300px;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #2a49e4;
  font-size: 16px;
}

.custom_btn:hover {
  color: #fff;
  width: 300px;
  border-radius: 0px;
  background-color: #040b50
}

.content_details {
  margin-left: 33px;
}

.playlist {
  padding: 40px;
}

.loadmore {
  font-weight: bold;
  font-size: 4rem;
  color: #19056a;
  position: absolute;
  top: 42%;
  left: 20%;
}

.nlp_header {
  margin: 0px;
  background-image: url('/static/images/nlp_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 50vh;
  padding-top: 7.96rem;
}

.blue_common_btn {
  background-color: #3946f6;
  color: #fff;
  width: 10vw;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue_common_btn:hover {
  background-color: #6671fa;
  color: #fff;
}

.nlp_images {
  padding-left: 16rem;
}

.benefit_div {
  border-bottom: 0.2rem solid #989898;
  padding-top: 6rem;
  min-height: 40vh;
  padding-bottom: 2rem
}

.benefit_div:last-child {
  border-bottom: 0rem solid #989898;
  padding-top: 6rem;
  min-height: 40vh;
  padding-bottom: 2rem
}

.explore_div img {
  width: 65%;
}

.explore_div {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bullet_ul {
  line-height: 1.333;
  align-items: center;
  list-style: none;
  padding: 0;
}

.bullet_ul li {
  margin-bottom: 20px;
}

.bullet_text {
  width: 95%;
  display: block;
  float: right;
}

.bullet {
  width: 26px;
  height: 26px;
  background-color: #bad80a;
  border-radius: 50%;
  font-weight: 600;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_area {
  width: 100%;
  height: 10vh;
}

.analysis_text {
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 2;
}

.common_padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sticker {
  display: block;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  color: #8fa4ae;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 2;
  margin: -272px auto 4px auto;
}

.is_circle {
  background: #eceff1;
  border-radius: 1000px;
  display: block;
  height: 100px;
  width: 100px;
}

.carousel_tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.carousel_tabs>div {
  margin: 0 25px;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.carousel_tabs>div.active {
  border-color: #538fe7;
  color: #538fe7;
}

.carousel_content {
  position: relative;
  transition: 0.3s ease;
  white-space: nowrap;
}

.carousel_item {
  display: inline-table;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.carousel_item p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6em;
  padding: 0 12px;
  margin: 80px auto 22px;
  max-width: initial;
  text-align: center;
}

.bot_div {
  position: relative;
  margin: 0 auto;
  min-height: 30vh;
}

.bot_div h3 {
  font-size: 2rem;
}

.bot_img {
  position: relative;
  width: 110px;
  height: 90px;
  margin: 0 auto;
}

.ani_bot {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 110px;
  height: 90px;
}

.ani_bot:hover {
  opacity: 1;
}

.bot_link {
  position: absolute;
  bottom: -94px;
  left: 14px;
}

.input_grp {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grp_btn {
  background-color: #0f5df9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #0f5df9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visit_box {
  border: 1px solid #cdcdcd;
  padding: 3rem 1rem 3rem 1rem;
  border-radius: 5px;
}

.hero__media {
  box-shadow: 0 -15px 20px 0 rgba(0, 0, 0, .14);
  border-radius: 9px;
  background: #fff;
  padding: 10px;
}

.code_free_div {
  min-height: 50vh;
  padding-top: 14rem;
}

.play_card {
  box-shadow: 0 0 20px 0 rgba(135, 135, 135, 0.14);
  min-height: 20vh;
  border-radius: 8px
}

.mobile_view {
  min-height: 50vh;
}

.span_color {
  color: #FF0089;
}

.head_size {
  font-size: 3.8em;
  color: #4d4c4d;
  font-weight: 800;
  line-height: 1.2em;
}

.head_color {
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  font-family: 'Open Sans', sans-serif;
  color: #674792;
}

.btn_pink {
  background-color: #FF0089;
  color: #fff;
  width: 13vw;
  font-size: 16px;
  font-weight: bold;
  padding: 1em 3em 1em 3em;
  border-radius: 40px;
}

.btn_pink:hover {
  background-color: #fff;
  color: #FF0089;
  border: 2px solid #FF0089;
  transition: all .6s ease-in-out
}

.accept_btn {
  background-color: #FF6900;
  color: #fff;
  outline: 0;
  border-radius: 6px;
  z-index: 100;
  border: 1px solid #FF6900;
  max-width: 200px;
  padding: .3em 1.3em;
  font-size: 16px;
  position: absolute;
  right: 5vw;
  top: 3vh;
}

.accept_btn:hover {
  background-color: #FF6900;
  color: #fff;
}

.decline_btn {
  position: absolute;
  background-color: #142E5C;
  color: #fff;
  outline: 0;
  border-radius: 6px;
  z-index: 100;
  border: 1px solid #142E5C;
  max-width: 200px;
  padding: .3em 1.3em;
  font-size: 16px;
  top: 3vh;
  right: 11vw;
}

.decline_btn:hover {
  background-color: #142E5C;
  color: #fff;
}

.button-blue {
  color: #fff;
  background-color: #607acd;
  border-color: #607acd;
  padding: 0.5em 1.5em;
}

.button-blue:hover {
  color: #fff;
  border-color: #607acd;
  background-color: #244fda;
}

.div-style {
  padding: 1em 0 1em 0;
}

.bg-1 {
  background-image: url("/static/images/engine.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-image: url("/static/images/engine1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-3 {
  background-image: url("/static/images/engine2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-red {
  color: #fff;
  background-color: #c60c30;
  border-color: #c60c30;
  padding: 0.5em 1.5em;
}

.button-red:hover {
  color: #fff;
  background-color: #b91414;
}

.button-white {
  color: #fff;
  border-color: #fff;
  padding: 0.5em 1.5em;
}

.button-white:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.imag {
  float: left;
  min-height: 20vh;
}

.visualimg {
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.visualcontent {
  padding-top: 7em;
}

.visualcontent p {
  font-size: 20px;
}

.visualbtn {
  padding: 2em 0 2em 0;
}

.visualbtn div {
  padding-top: 2em;
}

.visualbtn div a {
  font-size: 17px;
}

.imgposition {
  position: relative;
  margin-top: 2em;
}

.imgnav {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 44px;
  display: block;
  text-align: left;
  position: absolute;
  bottom: 0;
  border-radius: 0;
}

.imgnav:hover {
  color: #fff;
}

.blog_title_row {
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 1.87rem;
}

.cookie_agremt {
  position: absolute;
  top: 76vh;
  left: 15px;
  background-color: #142e5c;
  color: #fff;
  height: 20vh;
  font-size: 16px;
  padding-top: 20px;
}

.excelmain {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/excelmain.jpg');
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.excelmain h1 {
  color: #fff;
  font-weight: 1000;
  font-size: 50px;
}

.imgwidth {
  width: 25%;
  padding-bottom: 2em;
}

.autoimg {
  width: 100%;
  padding-top: 1em;
}

.check, .check ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}

.check li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}

.check li.tick:before {
  content: "\2713";
  color: #000;
}

/* for normal screens ends here.... */
@media only screen and (min-width:1500px) {

  /* for hd screens starts here.... */
  .flex_section {
    margin: 100px 300px 100px 300px !important;
  }

  .blog_section {
    margin: 100px 300px 100px 300px !important;
  }

  .enterpriseimg {
    display: none;
  }

  .box_section {
    margin: 25px 0px 0px 0px !important;
  }

  .cookie_agremt {
    top: 82vh;
    left: 15px;
    font-size: 18px;
    padding-top: 20px;
  }

  /* for hd screens ends here.... */
}

@media only screen and (max-width:768px) {

  /* mobile display size starts here.... */
  .ai_img_div {
    padding: 0px;
  }

  .detailRight {
    width: 100%;
    border: 0px solid black;
  }

  .detailLeft {
    width: 100%;
    height: 80vh;
  }

  #bpoDesc {
    padding: 10px;
  }

  .blogDetailsTitle {
    font-size: 25px;
    margin: 0px;
  }

  .btn-submit {
    margin: 0px !important;
    text-align: center !important;
  }

  .hero-button {
    top: 86%;
  }

  .remote-box {
    width: 100%;
    margin-left: 0px;
  }

  .laptop_bg {
    background-image: none;
    background-color: #00CDC8;
  }

  .platform_img {
    padding: 20px 100px 0px 80px;
  }

  .playbtn {
    display: none;
  }

  .blog_section {
    border-radius: 0px !important;
  }

  .blogimg {
    border-top-left-radius: 0px !important;
  }

  .demo_video {
    padding: 10px;
  }

  .demo_row {
    margin: 0px;
    padding: 10px;
    background: url('/static/images/andro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
  }

  .bgrnd_main {
    background-image: linear-gradient(rgba(5, 20, 43, 0.92), rgba(5, 20, 43, 0.68)), url('/static/images/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-position: center;
  }

  .bgrnd {
    display: none;
  }

  .min_padding {
    width: 50%;
  }

  .impliment_header {
    background-size: 100% 100%;
  }

  .connect_bg {
    background-image: none;
    background-color: #1a1a1f;
    padding: 20px 15px;
  }

  .min_size {
    min-height: auto;
    padding: 10px 0px;
  }

  .explore_text {
    text-align: center;
  }

  .arrow_text {
    padding: 0px 0px 0px 30px;
    margin-right: -7px;
  }

  .head {
    padding: 4px 40px 30px 15px;
  }

  .head h1 {
    font-size: 25px;
    font-weight: lighter;
    font-family: sans-serif;
    line-height: 1.5;
  }

  .purple_bg {
    height: 90vh;
    padding: 0px;
  }

  .head_bg {
    margin: 0px;
    background-size: 80% 50%;
    transform: translateX(24px)translateY(-195px);
    width: 90%;
    height: 78%;
    padding: 0px;
  }

  .box_div {
    min-height: 150vh;
  }

  .box_container {
    max-width: 100%;
  }

  .box-primary {
    width: 100%;
    margin-top: 0;
  }

  .box-secondary {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
  }

  .box-clear {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
  }

  .stat_number sup {
    font-size: 3rem;
    letter-spacing: 0.2px;
  }

  .stat_number .counter-up {
    font-size: 10rem;
  }

  .stat_description {
    width: 70%;
    font-size: 3rem;
  }

  .main_div {
    min-height: 108vh;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .main_container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 0rem;
  }

  .main_bg_p {
    min-height: 85vh;
    padding: 4rem;
    margin-top: 0;
  }

  .main_bg_s {
    width: 50%;
    min-height: 30vh;
    padding: 1.7rem;
    z-index: 0;
    margin-top: 0;
  }

  .bg_primary {
    width: 100%;
    float: left;
    display: block;
    color: #fff;
    background-color: #8c5d8e;
    z-index: 0;
  }

  .bg_secondary {
    margin-right: 0;
    width: 74.331%;
    margin-left: 25.669%;
    z-index: 3;
    margin-top: -42.333%;
  }

  .left_text {
    width: 70%;
    padding: 0;
  }

  .left_title {
    font-size: 1.4rem
  }

  .left_description {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 1.6;
  }

  .right_text {
    width: 65%;
    padding-top: 1rem;
  }

  .right_description {
    font-size: 1.5944rem;
  }

  .chart {
    min-height: 80vh;
    height: auto;
    padding: 0rem 0 19.2rem;
  }

  .chart_graphic {
    top: -290px;
    padding-top: 0px;
    left: 0;
  }

  .jumbo_div {
    padding: 5rem 0 0 0;
  }

  .Jumbo_title {
    font-size: 3rem;
    padding: 1rem;
  }

  .jumbo_text {
    font-size: 1.9rem;
  }

  .tiny_text {
    font-size: 1.6rem;
  }

  .hero_div {
    min-height: 54vh;
  }

  .hero_left {
    width: 100%;
    padding: 0;
  }

  .hero_left h1 {
    font-size: 3.3rem;
  }

  .hero_left h3 {
    font-size: 1.9rem;
  }

  .vertical_bar_left {
    left: 5%;
  }

  .vertical_bar_right {
    left: 91%;
  }

  .ai_div {
    padding: 0 2rem 4rem 2rem;
  }

  .ai_title {
    font-size: 2.5rem;
  }

  .ai_btn {
    width: 100%;
  }

  .resource {
    border-radius: 0px;
  }

  .ai_img {
    padding-left: 6rem;
  }

  .resource_div {
    margin-top: 60px;
    padding: 0px;
    min-height: 60vh;
  }

  .resource_container {
    max-width: 100%;
  }

  .resource_primary {
    position: relative;
    width: 100%;
    left: 0;
  }

  .resource_secondary {
    position: relative;
    width: 100%;
    left: 0;
  }

  .resource_clear {
    position: relative;
    width: 100%;
    left: 0;
  }

  .res_description {
    font-size: 5.8vw;
  }

  .content_div {
    padding: 0px;
  }

  .content_bar div {
    width: 100%;
    padding: 0px;
  }

  .content_data {
    height: auto;
    padding: 20px;
  }

  .content_data ul {
    padding: 0px;
  }

  .rating_div {
    padding: 0px;
    margin: 0px;
  }

  .content_details {
    margin-left: 0px;
  }

  .playlist {
    padding: 0px;
  }

  .box12 {
    margin-bottom: 20px;
  }

  .nlp_header {
    min-height: 50vh;
    padding-top: 0rem;
  }

  .blue_common_btn {
    width: 50vw;
  }

  .nlp_images {
    padding: 2rem;
  }

  .nlp_images img {
    width: 100%;
  }

  .explore_div img {
    width: 100%;
  }

  .bullet_text {
    width: 87%;
    display: block;
    float: right;
  }

  .bullet_ul li:last-child {
    margin-top: 40px;
  }

  .analysis_text {
    padding-left: 0;
    padding-right: 0;
    line-height: 2;
  }

  .text_area {
    width: 100%;
    height: 16vh;
  }

  .ml_text {
    font-size: 1.5rem;
  }

  .bot_div {
    min-height: 40vh;
  }

  .bot_link {
    bottom: -110px;
    left: 14px;
  }

  .automl img {
    width: 100%;
  }

  .sticker {
    top: 25%;
    left: 37%;
  }

  .mobile {
    top: 34%;
    left: 37%;
  }

  .visit_box {
    border: 0px solid #cdcdcd;
    padding: 1rem;
  }

  .code_free_div {
    min-height: 50vh;
    padding-top: 4rem;
  }

  .mobile_view {
    height: 140vh;
  }

  .btn_pink {
    width: 100%;
  }

  .head_size {
    font-size: 2.6em;
  }

  .cookie_agremt {
    top: 73vh;
    left: 15px;
    font-size: 12px;
    padding-top: 14px;
  }

  .visualimg {
    min-height: 65vh;
  }

  .visualcontent {
    padding-top: 4em;
  }

  .visualcontent p {
    font-size: 15px;
  }

  .visualbtn {
    padding: 0.5em 0 0.5em 0;
  }

  .visualbtn div {
    padding-top: 0.5em;
  }

  .visualbtn div a {
    font-size: 13px;
  }

  .fluid {
    height: 25vh;
  }

  .excelmain {
    min-height: 40vh;
  }

  .excelmain h1 {
    color: #fff;
    font-weight: 1000;
    font-size: 20px;
  }

  .imgwidth {
    width: 20%;
  }

  .autoimg {
    height: 40vh;
    padding-top: 1em;
  }

  /* .blog_container, .sec1Right, .sec2Left, .sec2thirdRow{
    flex-direction: column;
    width: 100%;
  } */
  /* .flex_50Perc, .sec1Right, .sec1RightBox1,.sec2Left,.sec2Right, .sec1RightBox2, .flex_33Perc, .flex_67Perc , .flex_100Perc, .flex_25Perc{
    height: 25vh;
  } */
  .slotBox {
    min-height: 320px !important;
  }

  .calenderDiv {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }

  .calendarBox {
    min-height: 300px !important;
    margin-top: 40px !important;
  }

  .calendarBox img {
    left: 36% !important;
    top: -40px !important;
  }

  .scheduleDatePic td {
    padding: 0px !important;
  }

  .scheduleDatePic td button {
    border: 0px !important;
  }

  .scheduleDatePic tH button {
    border: 0px !important;
  }

  .blogUpdates {
    border-left: 0 !important;
    border-top: 1px solid #aaa;
  }

  .blogContent {
    margin: 80px 10px 0px 10px !important;
  }

  .selectLang {
    position: absolute !important;
    box-shadow: 1px 1px 8px 0 rgba(8, 19, 31, .25) !important;
    top: -130px !important;
  }

  .content_box {
    flex: 70%;
    margin-top: 600px
  }

  .circleDiv {
    flex: 70%;
  }

  .circles li:nth-child(1) {
    border: 20px solid #080738;
    width: 300px;
    height: 300px;
  }

  .circles li:nth-child(1) div {
    padding-left: 15px !important;
  }

  .circles li:nth-child(2) div {
    padding-left: 20px !important;
  }

  .circles li:nth-child(3) div {
    padding-left: 35px !important;
  }

  .circles li:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 225px;
    right: 0px;
    z-index: 4;
  }

  .circles li:nth-child(3) {
    width: 250px;
    height: 250px;
    right: 100px;
    top: 320px;
    z-index: 1;
  }

  .blog_container, .sec2Left, .sec1Right {
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
  }

  .sec1RightBox2, .sec1RightBox1 {
    width: 100% !important;
    flex: none;
  }

  .sec1Right {
    flex-wrap: nowrap !important;
  }

  .blog_text {
    font-size: 15px !important;
  }

  .socialIcons div {
    font-size: 20px !important;
  }

  .textHeading>h4 {
    font-size: 16px !important;
  }

  .container_box {
    font-size: 12px !important;
    top: 10px !important;
    left: 130px !important;
    width: 100% !important;
  }

  .container_box>li {
    padding: 6px !important;
  }

  .content>div {
    text-align: center;
  }

  .dp {
    width: 60px !important;
    padding: 5px !important;
  }

  .point-green {
    position: absolute !important;
    top: 75px !important;
    width: 20px !important;
    height: 20px !important;
    right: -10px !important;
  }

  blockquote>h6 {
    font-size: 12px !important;
  }

  blockquote>p {
    font-size: 12px !important;
  }

  .flex_section {
    margin: 10px 15px !important;
  }

  .blog_section {
    margin: 10px 15px !important;
  }

  .personInfo {
    padding-left: 0px !important;
  }

  .personInfo li {
    padding: 0px !important;
    margin-bottom: 10px !important;
  }

  .lineSvg {
    display: none;
  }

  .accept_btn {
    top: 1vh;
    right: 5vw;
  }

  .decline_btn {
    top: 1vh;
    right: 30vw;
  }
  .common_padding{
    padding-left: 15px;
    padding-right: 15px;
  }

  /* mobile screen size ends here.... */
}

@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {

  /* for iphones.... */
  .personInfo {
    padding-left: 0px !important;
    margin: 30px !important;
  }

  .circles {
    right: 10px;
  }

  .sticker {
    top: 24%;
    left: 37%;
  }

  .mobile {
    top: 33%;
    left: 37%;
  }

  .cookie_agremt {
    top: 76vh;
    left: 15px;
    padding-top: 20px;
  }
  .common_padding{
    padding-left: 15px;
    padding-right: 15px;
  }

  /* iphone screen size ends here */
}

/* again for normal displays starts here */
.dp {
  width: 80px;
}

.prevNextBtn {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevNextBtn div {
  width: 200px;
  padding: 15px;
  background-color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.socialIcons {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  text-align: center;
}

.socialIcons div {
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  color: #452d54;
  margin: 0 15px;
}

.calendarBox {
  background-color: #131C3C;
  min-height: 430px;
  color: white;
  padding: 15px;
}

.calendarBox>img {
  border: solid 3px white;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -10px;
  left: 195px;
}

.scheduleDatePic td {
  padding: 8px;
}

.scheduleDatePic td button {
  background-color: #131C3C;
  color: #fff;
  border: 1px solid #131C3C
}

.scheduleDatePic tH button {
  background-color: #131C3C;
  color: #fff;
  border: 1px solid #131C3C
}

.textHeading>h4 {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: #452d54;
}

.inputEmail>input {
  width: 85%;
  margin: 0px 15px;
  padding: 5px 10px;
}

.sendUpdates {
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 150px;
  margin: 15px;
  background-color: #2f549c;
  border-radius: 3px;
  padding: 8px 15px;
}

.bottomLine::after {
  content: '';
  display: block;
  border-bottom: 1px solid #aaa;
}

/* .social > ul {
} */
/* .header_nav > li> a:hover{
  border-bottom: 2px solid red;

} */
.toggleBtn span {
  background-color: #e0e0e0;
}

.barRotate1 {
  transition: all 0.5s;
  transform: rotate(45deg);
}

.barRotate2 {
  transition: all 0.5s;
  transform: rotate(-45deg);
}

.barHide {
  opacity: 0 !important;
}

.header_element {
  position: relative;
}

.container_box {
  position: absolute;
  top: 43px;
  left: 10px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0 rgba(8, 19, 31, .25);
  margin: 2px;
  display: flex;
  width: 180%;
  flex-direction: column;
  justify-content: center;
  z-index: 200;
}

.container_box>li {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  border-left: 4px solid #fff;
  cursor: pointer;
}

.container_box>li>a {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: 501;
}

.container_box>li:hover {
  background-color: #0085ca;
  color: #fff !important;
  border-left: 4px solid #ff6900;
}

.container_box>li:hover a {
  color: #fff !important;
}

.header_nav>li>a {
  font-weight: 501;
  margin-left: 20px;
}

.noPadding {
  padding: 0px;
}

.shaddowed {
  box-shadow: 0px 1px 4px rgba(26, 24, 20, 0.2);
}

.btn-primary {
  background: white;
  color: #080738;
  border: solid 1px #0773ab;
}

.btn-primary:hover {
  background: #0773ab;
  color: #fff;
  border: solid 1px #0773ab;
}

.btn-warning {
  background-color: #ff6900;
  border: solid 1px #ff6900;
}

.btn-warning:hover {
  background-color: #ff6900;
}

.point-green {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 100%;
  border: 5px solid #00ff8c;
  position: absolute;
  top: 105px;
  right: 28px
}

.scroll-point {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  border: 6px solid #0037ff;
}

.point-text {
  color: #0037ff;
  font-weight: bold;
  vertical-align: top;
}

.curve {
  left: 5px;
}

blockquote {
  background-color: #f2f2f5;
  border-radius: 15px;
  margin: 0 0 1rem 0;
  box-sizing: border-box;
  color: #080738;
}

blockquote>h6 {
  font-weight: bold;
  font-size: 14px;
}

blockquote>p {
  font-size: 14px;
}

.content {
  max-width: 350px;
  color: #262e45;
  font: 400 16px/1.5 NBI Pro Regular, Helvetica Neue, Helvetica, Open Sans, Arial, sans-serif;
  text-align: left;
  font-weight: strong;
}

.content h3 {
  margin-bottom: 20px;
  color: #080738;
  /* font-family: Arial Bold; */
  /* font-size: 1.75rem; */
  font-weight: bold;
  line-height: 1.2;
}

.btn-rounded {
  padding: 12px 25px;
  border-radius: 40px;
  border: 2px solid #0037ff;
  white-space: nowrap;
  text-transform: uppercase;
  background: #0037ff;
  color: #fff;
}

.connectingDots {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.connectingDots li {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #1f8efb;
  display: inline-block;
  color: white;
  position: relative;
  padding-top: 10px;
}

.connectingDots li:first-child {
  margin-right: 112px;
}

.connectingDots li span {
  text-align: center;
  position: absolute;
  left: -5px;
  top: 35px;
  width: 50px;
  font-size: 10px;
  color: #000;
}

.connectingDots li::before {
  content: '';
  position: absolute;
  top: 18px;
  left: -116px;
  width: 116px;
  height: 3px;
  background: #1f8efb;
  z-index: 1;
}

.connectingDots li:first-child::before {
  display: none;
}

.connectingDots .till {
  background: #1f8efb;
}

.connectingDots .till~li {
  background: lightblue;
}

.connectingDots .till~li::before {
  background: lightblue;
}

.btn-rounded:hover {
  background: #fff;
  border: 2px solid #0037ff;
  color: #0037ff;
}

.btn-submit {
  border-radius: 4px;
  border: 2px solid #1c299d;
  background: #fff;
  color: #1c299d;
  font-size: 13px;
  margin-top: 25px;
}

.btn-submit:hover {
  background: #1c299d;
  border: 2px solid #1c299d;
  color: #fff;
}

.text-uppercase {
  margin-bottom: 20px;
  font-weight: Bold;
  font-size: 14px;
  text-transform: uppercase !important;
  text-align: left;
}

.stroke {
  position: relative;
  right: 50px;
}

figure {
  font-weight: bold;
}

.cardimg {
  background-image: linear-gradient(rgba(11, 29, 92, 0.82), rgba(18, 24, 97, 0.6)), url("/static/images/background4.jpg");
  background-size: cover;
  background-position: top;
  min-width: 90px;
  /* opacity:0.4; */
  min-height: 90px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.articleImg {
  background-image: linear-gradient(rgba(11, 29, 92, 0.65), rgba(18, 24, 97, 0.52)), url("/static/images/background4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*width: 100%;*/
  padding: 5px;
  border-radius: 4px;
}

#date {
  padding-top: 200px;
  padding-left: 30px;
}

#sideArticle {
  padding-top: 18px;
}

.blogimg {
  background-image: linear-gradient(rgba(11, 29, 92, 0.82), rgba(18, 24, 97, 0.6)), url("/static/images/register.jpg");
  width: 100%;
  min-height: 400px;
  border-top-left-radius: 7px;
}

.item {
  min-height: 77px;
  padding: 30px;
  border: 0px solid blue;
  background-color: #f5f8fa;
  margin-bottom: 30px;
}

.Title {
  color: #002855;
  font-size: 28px;
  width: 100%;
  font-weight: 600;
}

.Desc {
  font-size: 16px;
  font-weight: 500;
  color: `#002855`;
  line-height: 1.6;
}

.title_tag {
  position: absolute;
  top: 50%;
  color: black;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigbtn {
  width: 100%;
  max-width: 220px;
  padding: .8em 2.5em;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.list {
  background-color: white;
  padding: 15px 10px;
  display: inline-block;
  margin: 10px;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0px 1px 4px rgba(26, 24, 20, 0.2);
  text-decoration: none !important;
  color: rgb(1, 9, 50);
}

.heading {
  color: rgb(255, 84, 10);
  font-size: 40px;
  font-weight: 600;
  margin-left: 35px;
  padding-top: 20px;
  font-family: sans-serif;
}

.para {
  color: white;
  font-size: 20px;
  font-weight: 550;
  margin-left: 35px;
  padding-top: 10px;
  font-family: sans-serif;
  display: inline-flex;
}

.personInfo {
  flex: 45%;
  padding-left: 20px;
  list-style-type: none;
  margin-top: 80px;
}

.personInfo li {
  display: flex;
  padding-right: 40px;
}

.personInfo li:nth-child(2) {
  padding-left: 40px;
  padding-right: 0px;
  margin: 30px 0px;
}

.flex_section {
  display: flex;
  /* flex-direction: row-reverse ; */
  flex-wrap: wrap;
  margin: 100px 120px 100px 120px;
}

.blog_section {
  margin: 100px 120px 100px 120px;
  min-height: 530px;
  border-radius: 10px;
}

.blogContent {
  margin: 80px 100px 0px 100px;
}

.blogUpdates {
  margin-top: 30px;
  border-left: 1px solid #aaa;
  min-height: 450px;
}

@media screen and (device-width : 411px) and (device-height : 823px) {

  /* for google pixel devices starts here */
  .cookie_agremt {
    top: 74vh;
    left: 15px;
    padding-top: 20px;
    font-size: 14px;
  }

  .personInfo {
    padding-left: 0px !important;
    margin: 30px !important;
  }

  .circles {
    right: 10px;
  }

  .sticker {
    top: 27%;
    left: 37%;
  }

  .mobile {
    top: 33%;
    left: 37%;
  }
  .common_padding{
    padding-left: 15px;
    padding-right: 15px;
  }

  /* for google pixel devices ends here */
}
