{% extends "index.html" %}{% load staticfiles %}{% load i18n %}
{% get_current_language as lang %}

{% block brugcontent %}

{% verbatim %}
<div class="page-wrapper gray-bg">
  <div class="preloader"></div><!-- /.preloader -->
  <div class="inner-banner text-center">
    <div class="container">
      <ul class="breadcrumb">

      </ul>
    </div>
  </div>
  <section class="sec-pad-with-content-margin-30 gray-bg service-page-one">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
      {% endverbatim %}
      {% for c in toreturn %}

      <div class="sec-title">
          <span class="tag-line"> {{c.name}}</span>

      </div>

      <div class="row">

        {% for p in c.values %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="/viewProduct/{{p.basicProductName}}/">
            <div class="single-service-style-one">
              <div class="top-box text-center changewidth">
                <div class="inner-content">
                  <i class="facdori-icon-factory-1 box-icon"></i>
                  <h3>{{p.productName}}</h3>
                </div>
              </div><!-- /.top-box -->

              <div class="image-block imgewidth">
                <!-- <a href="/products/product"> -->
                <img src="{{p.image1.url}}" alt="Awesome Image" />

                <div class="overlay">
                  <div class="box">
                    <div class="content">
                      <div class="dotted"></div><!-- /.dotted -->
                    </div><!-- /.content -->
                  </div><!-- /.box -->
                </div><!-- /.overlay -->
              </div><!-- /.image-block -->
            </div><!-- /.single-service-style-one -->
            </a>
          </div><!-- /.col-lg-4 col-md-6 col-sm-6 -->
          {% endfor %}
      </div><!-- /.row -->
      {% endfor %}
      {% verbatim %}
    <!-- </div> -->
  </section><!-- /.sec-pad gray-bg -->
</div><!-- /.page-wrapper -->
<style type="text/css">

  .single-service-style-one .changewidth{
    width:100%;
  }
  .single-service-style-one .imgewidth{
    width:100%;
  }

  /* @media (max-width:768px) {

    .single-service-style-one .changewidth{
      width:29%;
    }
    .single-service-style-one .imgewidth{
      width:29%;
    }
  } */
  /* @media (max-width:768px) {

    .single-service-style-one .changewidth{
      width:29%;
    }
    .single-service-style-one .imgewidth{
      width:29%;
    }
  } */

  /* @media (min-width: 1200px) {
    .single-service-style-one .changewidth{
      width:29%;
    }
    .single-service-style-one .imgewidth{
      width:29%;
    }
  } */

  /* @media (max-width: 1489px) {
    .single-service-style-one .changewidth{
      width:50%;
    }
    .single-service-style-one .imgewidth{
      width:50%;
    }
  } */
</style>
{% endverbatim %}
{% endblock %}
