<div class="container-fluid">

  <div class="col-md-4">
    <img src="/static/images/tesla/brugglifting.svg" alt="" style="height:100%;">
  </div>


  <div class="col-md-6">
    <input style="border:none;box-shadow:none;height: 72px;font-size: 30px;" type="text" placeholder="Search products or services" name="" class="form-control" value="">
  </div>
  <div class="col-md-2" style="color:white;">
    <i class="fa fa-times fa-3x"></i>
  </div>
</div>
<style media="screen">
  .modal-lg{
    width: 100% !important;
    top: 0px;
    margin: 0px;
    border-radius: 0px;
    height:145px;
    background-color: rgb(0, 157, 224);
    padding: 27px;
  }

</style>
