
{% load i18n %}
<div style="margin-top:80px;" style="width:100%;">
  <h2 class="genericHeading" style="margin:25px;"> {% trans 'blogId' %}</h2>

  {% verbatim %}
  <div ng-if="firstSection.length>0" class="blog_container">
    <div class="flex_50Perc" ng-click="openBlog(firstSection[0].shortUrl,firstSection[0].pk)" >
      <img class="blog_image" ng-src="{{firstSection[0].ogimage}}" alt="">
      <p class="blog_text">{{firstSection[0].title}}</p>
    </div>
    <div class="sec1Right">
      <div class="sec1RightBox1" ng-click="openBlog(firstSection[1].shortUrl,firstSection[1].pk)">
        <img class="blog_image" ng-src="{{firstSection[1].ogimage}}" alt="">
        <p class="blog_text">{{firstSection[1].title}}</p>
      </div>
      <div class="sec1RightBox2" ng-repeat="blog in firstSection | limitTo: (2 - firstSection.length)" ng-click="openBlog(blog.shortUrl,blog.pk)">
        <img class="blog_image" ng-src="{{blog.ogimage}}" alt="">
        <p class="blog_text">{{blog.title}}</p>
      </div>
    </div>
  </div>

  <div class="blog_container">
    <div class="sec2Left">
      <div ng-if="second_sec1.length>0" class="flex_33Perc" ng-repeat="blog in second_sec1" ng-click="openBlog(blog.shortUrl,blog.pk)">
        <img class="blog_image" ng-src="{{blog.ogimage}}" alt="">
        <p class="blog_text">{{blog.title}}</p>
      </div>
      <div ng-if="second_sec2.length>0" class="flex_33Perc" ng-repeat="blog in second_sec2" ng-click="openBlog(blog.shortUrl,blog.pk)">
        <img class="blog_image" ng-src="{{blog.ogimage}}" alt="">
        <p class="blog_text">{{blog.title}}</p>
      </div>

      <div class="sec1Right">
        <div ng-if="thirdSection[0]" class="sec1RightBox1" ng-click="openBlog(thirdSection[0].shortUrl,thirdSection[0].pk)">
          <img class="blog_image" ng-src="{{thirdSection[0].ogimage}}" alt="">
          <p class="blog_text">{{thirdSection[0].title}}</p>
        </div>
        <div ng-if="thirdSection.length>0" class="sec1RightBox2" ng-repeat="blog in thirdSection | limitTo: (2 - thirdSection.length)" ng-click="openBlog(blog.shortUrl,blog.pk)">
          <img class="blog_image" ng-src="{{blog.ogimage}}" alt="">
          <p class="blog_text">{{blog.title}}</p>
        </div>
      </div>

      <div ng-if="thirdSection[1]" class="flex_50Perc" ng-click="openBlog(thirdSection[1].shortUrl,thirdSection[1].pk)">
        <img class="blog_image" ng-src="{{thirdSection[1].ogimage}}" alt="">
        <p class="blog_text">{{thirdSection[1].title}}</p>
      </div>
    </div>

    <div class="sec2Right">
      <div class="socialIcons" style="background-color: rgba(0, 0, 0, 0.2);">
        <div>
          {% endverbatim %}<a href="{{linkedinUrl}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{% verbatim %}
        </div>
        <div>
          {% endverbatim %}<a href="{{facebookUrl}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>{% verbatim %}
        </div>
        <div>
          {% endverbatim %}<a href="{{twitterUrl}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>{% verbatim %}
        </div>
        <div>
          {% endverbatim %}<a href="{{youtubeUrl}}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>{% verbatim %}
        </div>
      </div>

      <div class="bottomLine" style="padding:0 15px;">
        <div class="textHeading">
          <h4>{% endverbatim %} {% trans 'blogupdateId' %}{% verbatim %}</h4>
        </div>
        <div class="inputEmail">
          <input type="text" name="" value="" ng-model="emailAddress" placeholder="email address">
        </div>
        <div class="sendUpdates" ng-click=sendUpdates()>
          {% endverbatim %} {% trans 'sendId' %}{% verbatim %}
        </div>
      </div>

      <div style="padding:0 15px;">
        <div class="textHeading">
          <h4>{% endverbatim %} {% trans 'postId' %}{% verbatim %}</h4>
        </div>
        <div style="padding:0 30px;">
          <div style="border-bottom:1px solid #e0e0e0;" ng-repeat="p in recentPosts" >
            <h4 ng-click="openBlog(p.shortUrl,p.pk)" style="font-size:14px; font-weight:bold; cursor:pointer;"> <span>{{$index + 1}}. </span> <span> {{p.title}} </span>  </h4>
          </div>
        </div>
      </div>


    </div>
  </div>
  {% endverbatim %}
  {% verbatim %}

  <div class="prevNextBtn">

    <div ng-click="prevBtn()">
      {% endverbatim %} {% trans 'prevId' %}{% verbatim %}
    </div>

    <div ng-click="nextBtn()">
        {% endverbatim %} {% trans 'nextId' %}
    </div>

  </div>

  <!-- {{blogs}} -->
</div>
