{% extends "index.html" %}{% load staticfiles %}
{% block brugcontent %}
{% load i18n %}
{% verbatim %}


<div class="container-fluid" style="padding:0" >
  <div class="row" style="margin:0px">
    <div class="col-md-12" style="padding:0px">
      <img class="hidden-xs banner" src="/static/images/brugg-elevator-seilvergleich-header.jpg" alt="" style="width:100%">
      <img class="visible-xs banner" src="/static/images/brugg-elevator-seilvergleich-header_alt.jpeg" alt="" style="width:100%;">
    </div>
  </div>
</div>

<!-- <div style="width:100%;"> -->
<div class="container-fluid "  style="margin:auto;padding:10px;">
<div class="container-fluid fluidpadding" style="background-color:none;padding:20px 0;padding-bottom:90px;">
  <div class="row col-md-12">
    <div class="col-md-4 text-left"style="margin-left:50px;font-size: 20px;font-weight: 700;color:#009de0">
      <h1>{% endverbatim %} {% trans 'sitemapT' %}{% verbatim %}</h1>
    </div>

  </div>
  <div class="row" style="margin-right:0px;margin-left:0px;padding-right:0px">
    <div class="col-md-4 col-lg-4  col-sm-12 col-xs-12 containerpadding" style="" >
      <div  style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
        <div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8  text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
          <p style="font-size:20px;color:white;font-weight:700">{% endverbatim %} {% trans 'sitemapH1' %}{% verbatim %}</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center" style="padding-top:15px;padding-right:68px;">
          <ul style="list-style-type:none;margin-left:0em;" class="sitemap">
            <li> <a href="/careers" >{% endverbatim %} {% trans 'sitemapH2' %}{% verbatim %}</a></li>
            <li><a href="/locations" >{% endverbatim %} {% trans 'sitemapH3' %}{% verbatim %}</a></li>
            <li><a href="/reference" >{% endverbatim %} {% trans 'sitemapH4' %}{% verbatim %}</a></li>
            <li><a href="/applicationtips" >{% endverbatim %} {% trans 'sitemapH5' %}{% verbatim %}</a></li>

          </ul>
        </div>
      </div>
      </div>
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 containerpadding" style="">
          <div  style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
            <div class=" col-lg-offset-3 col-lg-6  col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
              <p style="font-size:20px;text-align:center;color:white;font-weight:700">{% endverbatim %} {% trans 'sitemapH6' %}{% verbatim %}</p>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center" style="padding-top:15px;padding-right:68px;">
              <ul style="text-align:center;list-style-type:none;margin-left:0em;" class="sitemap">
                <li> <a href="/categories/hoist-ropes" >{% endverbatim %} {% trans 'sitemapH7' %}{% verbatim %}</a></li>
                <li> <a href="/categories/compensation-ropes" >{% endverbatim %} {% trans 'sitemapH8' %}{% verbatim %}</a></li>
                <li> <a href="/categories/governor-ropes" >{% endverbatim %} {% trans 'sitemapH9' %}{% verbatim %}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div  class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 containerpadding" style="">
      <div  class="text-center"style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
          <p style="font-size:20px;text-align:center;color:white;font-weight:700">{% endverbatim %} {% trans 'sitemapH10' %}{% verbatim %}</p>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12   text-center" style="padding-top:15px;padding-right:68px;">
          <ul style="text-align:center;list-style-type:none;margin-left:0em;" class="sitemap">
            <li> <a href="/blogs" >2018 press releases</a></li>
            <li> <a href="/blogs" >2019 press releases</a></li>
          </ul>
          </div>
      </div>
      </div>
      </div>
  {% endverbatim %}
          <div class="row" style="margin-right:0px;margin-left:0px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 containerpadding" style="">
              <div  style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8  col-xs-offset-2 col-xs-8 text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
                  <p style="font-size:20px;color:white;font-weight:700">  {% trans 'sitemapH11' %}</p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:15px;padding-right:68px">
                <ul style="text-align:center;list-style-type:none;margin-left:0em;" class="sitemap">

                  {% for i in hr %}

                  <li> <a href="/products/{{i.name}}_{{i.pk}}" >{{i.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              </div>
              </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 containerpadding" style="">
                  <div  style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8   text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
                      <p style="font-size:20px;text-align:center;color:white;font-weight:700">  {% trans 'sitemapH12' %}</p>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center" style="padding-top:15px;padding-right:68px;">
                      <ul style="text-align:center;list-style-type:none;margin-left:0em;" class="sitemap">

                        {% for i in cr %}
                        <li> <a href="/products/{{i.name}}_{{i.pk}}" >{{i.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 containerpadding " style="">
              <div  class="text-center"style="background-color:white;box-shadow: 0 2px 8px 0 rgb(101, 100, 100);min-height:35vh;overflow: auto;">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8  col-xs-offset-2 col-xs-8 text-center header"  style="box-shadow: 0 2px 5px 0 rgb(101, 100, 100); background: #009de0;">
                  <p style="font-size:20px;text-align:center;color:white;font-weight:700">  {% trans 'sitemapH13' %}</p>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center" style="padding-top:15px;padding-right:68px;">
                  <ul style="text-align:center;list-style-type:none;margin-left:0em;" class="sitemap">
                    {% for i in gr %}
                    <li> <a href="/products/{{i.name}}_{{i.pk}}" >{{i.name}}</a></li>
                    {% endfor %}

                  </ul>
              </div>
              </div>
              </div>

      </div>

</div>
 </div>

{% verbatim %}




<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>



{% endverbatim %}

<style media="screen">
   .sitemap li a{
     font-size: 16px;
     color: black;
     transition: all .4s ease;
     display: block;


  }
  .containerpadding{
    padding:66px;
  }
  .fluidpadding{
    margin-left: 50px;
    margin-right: 70px;
  }
  .banner{
    height:40vh
  }
  .header{
    padding:1.25em
  }
  .sitemap li a:hover{
    color:#009de0;
    -webkit-transform: translatex(5px);
            transform: translatex(5px);
          }
    @media (max-width:768px) {
      .containerpadding{
        padding:0px;
        margin-top:2em
      }
      .fluidpadding{
        margin-left: 10px;
        margin-right: 10px;
      }
      .banner{
        height:50vh
      }
      .header{
        padding:1em
      }
    }

</style>
{% endblock %}


{% block brugjs %}
<!-- <script>
  var a = 0;
$(window).scroll(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 7000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});
</script> -->
{% endblock %}
