<div class="modal-body">
  <div class="container-fluid">
    <div class="col-md-6">
      <b>Applicant's Details</b>
      <br />
      <div class="row">
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> First Name : </label>{{fname}}
             <!-- <input type="text" class="form-control" ng-model="form.firstname" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Last Name :</label> {{lname}}
            <!-- <input type="text" class="form-control" ng-model="form.lastname" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Email :</label> {{email}}
            <!-- <input type="email" class="form-control" ng-model="form.email" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Mobile :</label> {{mobile}}
            <!-- <input type="text" class="form-control" ng-model="form.mobile" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Cover Letter :</label> {{letter}}
            <!-- <textarea type="text" class="form-control" ng-model="form.coverletter" {% csrf_token %}></textarea> -->
            <!-- <textarea ui-tinymce="tinymceOptions" ng-model="form.coverletter"></textarea> -->
          </div>
          <!-- <div class="col-md-4 text-right">
            <label><i style="color:#e27160">*</i> Resume : </label> {{resume}}
          </div> -->
        </div>
    </div>
<br />
<br />
<div class="modal-body">
  <div class="container-fluid">
    <div class="col-md-6">
        <b>Job Details</b>
        <br />
      <div class="row">

          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Job Type : </label>{{jobtype}}
             <!-- <input type="text" class="form-control" ng-model="form.firstname" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Name :</label> {{name}}
            <!-- <input type="text" class="form-control" ng-model="form.lastname" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Max CTC :</label> {{maxctc}}
            <!-- <input type="email" class="form-control" ng-model="form.email" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Skills  :</label> {{skills}}
            <!-- <input type="text" class="form-control" ng-model="form.mobile" required {% csrf_token %}> -->
          </div>
          <div class="col-md-4 text-right">
            <label><i style="color:#e27160"></i> Description :</label> {{description}}

          </div>

        </div>
    </div>
