<!-- <div class="row" style="margin:0px;background: url('/static/images/about/reference.jpg');background-repeat: no-repeat;background-size: cover;min-height:400px;padding:140px 0px 0px 0px;background-position:center;"></div> -->

{% extends "index.html" %}{% load staticfiles %}

{% block brugcontent %}


<div class="row " style="margin:0px">
  <div class="col-md-12" style="padding:0px">
    <img src="/static/images/about/reference.jpg" alt="" style="width:100%;height:40vh">
  </div>
</div>
<!-- <div class="row" style="margin:0px;padding:30px;color:#022750;font-family:sans-serif;"> </div> -->
<!-- <div class="col-md-12 text-center col-xs-12" style=""> -->
<div class="container-fluid reference">
  <div class="text-center">
      <!-- <h1 style="color:#009DE0;">Elevator ropes from Brugg Lifting. References.</h1> -->
    </div>
  <hr>

  <div class="row" class="col-md-6 col-md-Offset-3 ">
    <div  style="display:block;margin-left:auto;margin-right:auto;width:50%;">
      <div ng-click="showImage(0)" class="col-md-1"><img src="static/images/TowerBuilding/image10.png" style="width:100%;height:80px" alt="Messeturm Basel" /></div>
      <div ng-click="showImage(1)" class="col-md-1"><img src="static/images/TowerBuilding/image973.png" style="width:100%;height:80px" alt="Nuernberger Versicherung" /></div>
      <div ng-click="showImage(2)" class="col-md-1"><img src="static/images/TowerBuilding/image956.png" style="width:100%;height:80px" alt="Millenium Tower" /></div>
      <div ng-click="showImage(3)" class="col-md-1"><img src="static/images/TowerBuilding/image1109.png" style="width:100%;height:80px" alt="Torre Mayor" /></div>
      <div ng-click="showImage(4)" class="col-md-1"><img src="static/images/TowerBuilding/image1092.png" style="width:100%;height:80px" alt="Tomorrow Square" /></div>
      <div ng-click="showImage(5)" class="col-md-1"><img src="static/images/TowerBuilding/image905.png" style="width:100%;height:80px" alt="Federation tower" /></div>
      <div ng-click="showImage(6)" class="col-md-1"><img src="static/images/TowerBuilding/image1024.png" style="width:100%;height:80px" alt="Petronas Twin Towers" /></div>
      <div ng-click="showImage(7)" class="col-md-1"><img src="static/images/TowerBuilding/image1007.png" style="width:100%;height:80px" alt="Oriental Pearl Tower" /></div>
      <div ng-click="showImage(8)" class="col-md-1"><img src="static/images/TowerBuilding/image990.png" style="width:100%;height:80px" alt="One World Trade Center" /></div>
      <div ng-click="showImage(9)" class="col-md-1"><img src="static/images/TowerBuilding/image854.png" style="width:100%;height:80px" alt="CN Tower" /></div>
      <div ng-click="showImage(10)" class="col-md-1"><img src="static/images/TowerBuilding/image825.png" style="width:100%;height:80px" alt="Burj Khalifa" /></div>
    </div>
  </div>
  <hr>

  <br>

  <div class="refref col-md-6 col-md-offset-3 " style="padding:30px;">
    <div class="ref01 show ">
      <img class="img-responsive" id="SelImg" width="590" height="1000" /></div>
  </div>
</div>
<style media="screen">
  .reference{
    background-color: #f7f7f7 !important;
  }
</style>

{%endblock%}

{%block brugjs%}

<script src="{% static 'js/app.homepage.js' %}"></script>


{%endblock%}
