<div class="container-fluid" style="padding:0px;">
  <!-- <h2>Carousel Example</h2> -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="static/images/about/bg1.jpg" alt="bg1" style="width:100%;">
        <div class="carousel-caption">
          <p style="font-size:75px;"><b>We’ll Build Your</b><br>
            <b>Perfect Future</b><br>
            <b>Dreams</b></p>
        </div>
      </div>


      <div class="item">
        <img src="static/images/about/bg2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <p style="font-size:75px;"><b>We’ll Build Your</b><br>
            <b>Perfect Future</b><br>
            <b>Dreams</b></p>
        </div>
      </div>


    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-color:unset !important;padding:unset !important;">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <!-- <span class="sr-only">Previous</span> -->
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-color:unset !important;padding:unset !important;">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <!-- <span class="sr-only">Next</span> -->
    </a>
  </div>
</div>





<div class="col-md-8 col-md-offset-2 col-sm-12" style="padding-top:1em" ;>
  <div class="col-md-7" style="text-align:justify;font-size:16px; text-align: center;">
    <p style="text-align:justify;font-size:20px; text-align: center;">GET TO KNOW US</p>
    <p style="text-align:justify;font-size:52px;font-weight:300; text-align: center;"><b>Welcome to Our Industrial Business</b></p>
    <br>
    <p style="text-align:justify;font-size:16px; text-align: center;">There are many variations of passages of Lorem Ipsum available, but the majority have <br><br>
      suffered alteration in some form, by injected humour, or randomised words which don't<br><br>
      look even slightly believable. If you are going to use a passage of lorem ipsum is simply<br><br>
      free text available in the martker now you need to be sure there isn't anything <br><br>
      embarrassing hidden in the middle of text. </p>

    <p style="text-align:justify;font-size:16px; text-align: center;">Let's Call us to Get a Free Estimate <br><br </p> <p style="text-align:justify;font-size:30px; 6668880000" <br><br </p> </div> <div class="col-md-5" style="text-align:justify;font-size:16px;font-weight:300;">
      <img src="static/images/about/working.jpg" alt="roller" style="">
      <br><br>
      <p style="text-align:justify;font-size:27px; text-align: center;"><b>We have 25+ years of experiences for give you better results.</b><br><br </p> <p style="text-align:justify;font-size:18px; text-align: center;">There are many variations of
        passages of lorem ipsum available but the majority have suffered alteration in some form <br><br </p> </div> </div> <br><br>

        <div>
          <img src="/static/images/about/background.jpg" alt="background" style="">
          <div class="carousel-caption">
            <p style="font-size:50px" ;><b>We Provide you the Highest</b><br>
              <b>Quality Work that Meets</b><br>
              <b>your Expectations</b></p>
          </div>
        </div>

        <br><br><br>

        <div class="col-md-8 col-md-offset-2 col-sm-12" style="padding-top:1em" ;>
          <div class="col-md-6" style="text-align:justify;font-size:16px; text-align: center;">
            <p style="text-align:justify;font-size:20px; text-align: left;">TESTIMONIALS</p>
            <p style="text-align:justify;font-size:45px;font-weight:300; text-align: left;"><b>Your are in Very Good</b></p>
              <p style="text-align:justify;font-size:45px;font-weight:300; text-align: left;"><b>Hands, Check What</b><br></p>
                <p style="text-align:justify;font-size:45px;font-weight:300; text-align: left;"><b>our Customers are</b><br></p>
                  <p style="text-align:justify;font-size:45px;font-weight:300; text-align: left;"><b>  Talking About </b><br></p>
            </p>

            <p style="text-align:justify;font-size:16px; text-align: center;"><br><br </p> <p style="text-align:justify;font-size:30px; "> <br><br> </p> </div>
           <div class="col-md-5" style="text-align:justify;font-size:16px;font-weight:300;">
              <!-- <img src="static/images/about/working.jpg" alt="roller" style="">
              <br><br> -->



            <br </p> </div> </div> </div> </div> <!-- {% verbatim %} -->



                <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/images/about/roller.jpg" alt="roller">
    </div>

    <div class="item">
      <img src="/static/images/about/cable.jpg" alt="cable">
    </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

                <!-- <video autoplay muted loop style="position: fixed;right: 0;bottom: 0;min-width: 100%;min-height: 100%;"> -->
                <!-- <source src="https://brugg.cioc.in/media/videoplayback.mp4" type="video/mp4">
      <source type="video/webm" src="http://demos.artbees.net/jupiter5/ruminus/wp-content/uploads/sites/100/2016/04/home-02.web"> -->
                <!-- </video> -->



                <!--    <div style="text-align:center;z-index:999;font-size:20px;margin:0;padding:0;width:100%;">
      <h1 class="anim" style="letter-spacing: 0px;text-transform: capitalize;font-size: 6rem;color: #fff;text-align: center;font-style: inherit;font-weight: 300;font-family: 'Lato', sans-serif;position: absolute;top:40%;left:50%;">BRUGG LIFTING</h1>
    </div>
  </div>

  <div class="container-fluid" style="background-color:#fff">
    <div class="container">
      <div class="row" style="margin-top:4em;">
        <div class="col-md-6">
          <h1 class="bruggh1 count" style="font-size: 5rem;color:#009DE0;text-align:left;">More than 100 Jahre of Innovation from Switzerland</h1>
        </div>
      </div>
      <div class="row" style="margin-top:2em;">
        <div class="col-md-6">
          <span class="bruggh1" style="color:#a2a2a2;font-size: 3rem;font-weight:400">Elevator ropes from Brugg Lifting </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 " style="margin-top:2em">
          <span style="font-size: 20px;color: #989ea3;line-height: 1.42em;font-weight: 400;text-align:justify;">The foundation for our company was laid on 6 May 1896 in Brugg by Gottlieb Suhner opening a cable factory. 12 years later, the company was
            transformed into a stock corporation under the new name of Kabelwerke Brugg AG. Brugg was the first Swiss company in 1910 to start up the production of ropes for mountain cable cars.</span>
        </div>
        <div class="col-md-6" style="margin-top:2em">
          <span style="font-size: 20px;color: #989ea3;line-height: 1.42em;font-weight: 400;text-align:justify;">The machinery was continuously extended. Due to the “economic miracle” of the post-war period, an enormous growth in the production of
            wire ropes
            could be recorded, as a result of which the new wire rope factory based in Birr was put into operation in 1955. In 1985, the establishment of the branch based in Houston marked the start of the international focus of Kabelwerke Brugg.
          </span>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-top:6em;margin-bottom:10em;">

            <div class="col-md-4 text-center" style="margin-top:2em;">
              <img src="/static/images/tesla/image1.jpg" style="width:96%;height:24em;filter:brightness(40%);margin:0 2%" />
              <div style="text-align: center">
                <span id="textImg" ng-class="addClass" class="imgtext anim" style="position:absolute;top:40%;left:50%;color:#fff;transform: translateX( -50%);">Testimonial 1</span>
                <button type="button" class="btn" style="padding:0.5em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;position:absolute;top:70%;left:50%;color:#fff;transform: translate(-50%, -50%);"><b>Our Motto:Going up.</b></button>
              </div>
            </div>
            <div class="col-md-4 text-center" style="text-align: center;margin-top:2em;"><span style="font-size: 3rem;color:#009DE0"></span>
              <img src="/static/images/tesla/image1.jpg" style="width:96%;height:24em;filter:brightness(40%);margin:0 2%" />
              <div>
                <span id="textImg" ng-class="addClass" class="imgtext anim" style="position:absolute;top:40%;left:50%;color:#fff;transform: translateX( -50%);">Testimonial 2 </span>
                <button type="button" class="btn" style="padding:0.5em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;position:absolute;top:70%;left:50%;color:#fff;transform: translate(-50%, -50%);"><b>Our Motto:Going up.</b></button>
              </div>
            </div>
            <div class="col-md-4 text-center" style="text-align: center;margin-top:2em;padding-bottom:10;em">
              <img src="/static/images/tesla/image1.jpg" style="width:96%;height:24em;filter:brightness(40%);margin:0 2%" />
              <div>
                <span id="textImg" ng-class="addClass" class="imgtext anim" style="position:absolute;top:40%;left:50%;color:#fff;transform: translateX( -50%);">Testimonial 3</span>
                <button type="button" class="btn" style="padding:0.5em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;position:absolute;top:70%;left:50%;color:#fff;transform: translate(-50%, -50%);"><b>Our Motto:Going up.</b></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background-image: url('static/images/black-bokeh-texture-on-background-260nw-344296763.jpg');position:relative;background-repeat: no-repeat;background-size: cover;style="background:url('/static/images/Case studies.jpg');min-height:95vh;z-index:99;filter:brightness(70%); -->

                <div style="margin:0;padding:0;background-color:#fff">
                  <div>
                    <div class="text-center" style="padding-top:15em;">
                      <h1 class="bruggh1 " id='titleanim4' style="font-size: 5rem;color:#009DE0"><strong>What makes us Go Up</strong></h1>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom:5em;">

                        <div class="col-lg-3 col-md-6" style="margin-top:5em;font-size:18px;color:#fff;text-align: center;height:30em;background:url('/static/images/project-1-1.jpg')">
                          <div class="" style="margin-top:2em">
                            <!-- <span><i class="fa fa-product-hunt" style="color:#009DE0;font-size:2em;"></i></span> -->
                          </div>
                          <div style="margin-top:7em;font-size:2em;"><span>Products</span> </div>
                          <div style="margin-top:2em"><span style="margin-top:2em;text-align:left;">The segment of wire ropes was extended by the acquisition of Schweizerische Seilindustrie AG based in Schaffhausen.</span></div>
                          <button class="btn btn-primary">Readmore</button>
                          <!-- <div class="" style="margin-top:2em">
              <button type="button" class="btn" style="padding:0.5em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;color:#fff;"><b>BUT</b></button>
            </div> -->
                        </div>

                        <div class="col-lg-3 col-md-6" style="margin-top:5em;font-size:18px;color:#fff;text-align: center;height:30em;margin-left:0.5em;background:url('/static/images/project-1-1.jpg')">
                          <div class="" style="margin-top:2em">
                            <!-- <span><i class="fa fa-cogs" style="color:#009DE0;font-size:2em;"></i></span> -->
                          </div>
                          <div style="margin-top:7em;font-size:2em;"><span>Services</span> </div>
                          <div style="margin-top:2em"><span style="margin-top:2em;text-align:justify;">In 1991, Brugg Drahtseil AG was transformed into a legally independent entity</span> </div>
                          <button class="btn btn-primary">Readmore</button>

                        </div>

                        <div class="col-lg-3 col-md-6  " style="margin-top:5em;font-size:18px;color:#fff;text-align: center;height:30em;background:url('/static/images/project-1-1.jpg');margin-left:0.75em;">
                          <div class="" style="margin-top:2em">
                            <!-- <span><i class="fa fa-users " style="color:#009DE0;font-size:2em;"></i></span> -->
                          </div>
                          <div style="margin-top:7em;font-size:2em;"><span>Work Culture</span> </div>
                          <div style="margin-top:2em"><span style="margin-top:2em;text-align:justify;">Today, more than 100 years after the foundation, the Brugg Group consists of 5 business units with a total of 44 companies spread over 19
                              countries.</span></div>
                          <button class="btn btn-primary">Readmore</button>
                        </div>

                        <div class=" col-lg-3 col-md-6 pull-right" style="margin-top:5em;font-size:18px;color:#fff;text-align: center;height:30em;width:22em;background:url('/static/images/project-1-1.jpg');">
                          <div class="" style="margin-top:2em">
                            <!-- <span><i class="fa fa-bar-chart" style="color:#009DE0;font-size:2em;"></i></span> -->
                          </div>
                          <div style="margin-top:7em;font-size:2em;"><span>Innovation</span> </div>
                          <div style="margin-top:2em"><span style="margin-top:2em">We measure the results and take actions to empower them. We learn from customers continuously</span></div>
                          <button class="btn btn-primary">Readmore</button>

                        </div>

                      </div>

                    </div>
                  </div>
                </div>


                <div class="container-fluid" class="col-md-12 col-lg-12" style="background-color:#fff">
                  <div class="row">
                    <div class="col-lg-3  col-md-3 " style="padding-top:2em;">
                      <h1 class="bruggh1 " style="font-size: 5rem;color:#009DE0;margin-left:2em">Some customers</h1>
                      <span style="margin-top:2em;margin-left:2em;font-size: 1em;color: #989ea3;font-weight: 400;">These are some of the clients for whom we have generated value</span>
                      <button class="btn btn-primary">READMORE</button>
                    </div>
                    <div class="text-left" class="col-lg-3 col-md-3" style="padding-top:2em;">
                      <div style="margin-top:1em">
                        <span><i class="fa fa-shield fa-5x" aria-hidden="true"></i><strong style="font-size:2rem;">Safe and
                            Secure</strong>
                        </span>
                      </div>
                      <span class="col-lg-3" style="margin-top:2em;font-size: 1em;color: #989ea3;font-weight: 400;text-align:justify;">These are some of the clients for whom we have generated value</span>
                    </div>



                    <!-- <div class="text-left"  class="col-lg-3 col-md-3"style="padding-top:0em;">
          <div  style="margin-top:0em">
            <span><i class="fa fa-shield fa-5x" aria-hidden="true"></i><strong style="font-size:2rem;">Safe and
Secure</strong>
</span>
          </div>
          <span class="col-lg-3" style="margin-top:2em;font-size: 1em;color: #989ea3;font-weight: 400;text-align:justify;">These are some of the clients for whom we have generated value</span>
          </div> -->
                  </div>
                </div>

          </div>

        </div>


        <div class="container-fluid" style="background-color: #000">
          <div class="container" style="padding:3em 0">
            <div class="col-md-6">
              <div class="col-md-2" style="margin-top:1em;text-align:center">
                <img src="/static/images/brugglifting.svg" />
              </div>
            </div>
            <!-- </div>
        <h1 class="bruggh1 " id="titleanim1" style="font-size: 5rem;color:#009DE0">Strategic partners	 </h1>
      </div> -->
            <div class="col-md-6" style="margin-top:1em">
              <span style="font-size:1.5em;color:#989ea3">Brugg was the first Swiss Company to start production of ropes for mountain cable cars.</span>
            </div>
          </div>
        </div>

        <!-- <div class="container-fluid" style="background-color: #fff">
    <div class="container" style="padding:8em 0">
      <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
        <div style="margin-top:2em;" >
            <iframe  class="iframeFit" style="padding:0;margin:0" src="https://www.youtube.com/embed/ZUlmWlJrdcQ" frameborder="0" allowfullscreen ></iframe>
        </div>
        <div style="margin-top:3em;" >
          <button type="button" class="btn" style="padding:0.7em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;color:#fff;"><b>MORE ON SOCIAL NETWORKS</b></button>
        </div>
      </div>
    </div>
  </div> -->

        <div class="container-fluid" style="background-image: url('/static/images/testimonial-pattern.png');">
          <div class="container" style="padding:8em 0">
            <div style="margin-top:2em;text-align:center">
              <h1 class="bruggh1 " id="titleanim" style="font-size: 5rem;color:#009DE0">Brugg Lifting Over The Years </h1>
            </div>
            <div style="margin-top:3em;text-align:center">
              <button type="button" class="btn" style="padding:0.8em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;color:#fff;"><b>Read More</b></button>
            </div>
          </div>
        </div>

        <div class="container-fluid" style="background-color:#009DE0">
          <div id="count" class="container " style="padding:2em 0 4em 0">
            <div class="col-md-3 text-center">
              <div class="" style="margin-top:2em">
                <span><i class="fa fa-clock-o" style="color:#fff;font-size:4em;"></i></span>
              </div>
              <div style="color:#fff;font-size:4em;margin-top:0.5em"><span class="countt">100</span> </div>
              <!-- <span><i class="fa fa-minus" style="color:#fff"></i></span> -->
              <div style="color:#fff;font-size:1.5em;"><span style="margin-top:2em"> Years of Innovation</span></div>
            </div>
            <div class="col-md-2 text-center">
              <div class="" style="margin-top:2em">
                <span><i class="fa fa-briefcase" style="color:#fff;font-size:4em;"></i></span>
                <!-- <img src="/static/images/business.svg" > -->
              </div>
              <div style="color:#fff;font-size:4em;margin-top:0.5em"><span class="countt">5</span> </div>

              <!-- <span><i class="fa fa-minus" style="color:#fff"></i></span> -->
              <div style="color:#fff;font-size:1.5em;"><span style="margin-top:2em">Business Units</span></div>
            </div>
            <div class="col-md-2 text-center">
              <div class="" style="margin-top:2em">
                <span><i class="fa fa-building-o" style="color:#fff;font-size:4em;"></i></span>
              </div>

              <div style="color:#fff;font-size:4em;margin-top:0.5em;"><span>44</span> </div>

              <!-- <div style="color:#fff;font-size:4em;margin-top:0.5em;"><span class="countt">4800</span><span>+</span>  </div> -->
              <!-- <span><i class="fa fa-minus" style="color:#fff"></i></span> -->
              <div style="color:#fff;font-size:1.5em;"><span style="margin-top:2em">Companies</span></div>
            </div>
            <div class="col-md-2 text-center">
              <div class="" style="margin-top:2em">
                <span><i class="fa fa-globe" style="color:#fff;font-size:4em;"></i></span>
              </div>

              <div style="color:#fff;font-size:4em;margin-top:0.5em"><span>19</span> </div>
              <div style="color:#fff;font-size:1.5em;"><span style="margin-top:2em"></span></div>


              <!-- <div style="color:#fff;font-size:4em;margin-top:0.5em" ><span class="countt">10000</span><span>+</span>  </div> -->

              <!-- <span ><i class="fa fa-minus"  style="color:#fff"></i></span> -->
              <div class="text-center" style="color:#fff;font-size:1.5em;"><span style="margin-top:2em">Countries</span></div>
            </div>
            <div class="col-md-2 text-center">
              <div class="" style="margin-top:2em">
                <span><i class="fa fa fa-user-o" style="color:#fff;font-size:4em;"></i></span>
              </div>

              <div style="color:#fff;font-size:4em;margin-top:0.5em"><span>100</span><span>+</span> </div>
              <div style="color:#fff;font-size:1.5em;"><span style="margin-top:2em"></span></div>


              <!-- <div style="color:#fff;font-size:4em;margin-top:0.5em" ><span class="countt">10000</span><span>+</span>  </div> -->

              <!-- <span ><i class="fa fa-minus"  style="color:#fff"></i></span> -->
              <div class="text-center" style="color:#fff;font-size:1.5em;"><span style="margin-top:2em"> Clients</span></div>
            </div>

          </div>
        </div>

        <div class="container-fluid" style="margin:0;padding: 0">
          <div class="col-md-6 col-xs-12" style="background-color: #fff;min-height:50vh;display:inline;vertical-align: center;margin:0;padding: 0">
            <!-- <div style="padding-top:8em;text-align:center" >
            <h1  class="bruggh1 " id='titleanim3' style="font-size: 5rem;color:#009DE0">we look for talent  </h1>
            <span style="font-size:1.5em;color:#989ea3">Show us your work</span>
        </div> -->
            <!-- <div style="margin-top:3em;text-align:center;padding-bottom:8em;" >
          <button type="button" class="btn" style="padding:0.8em 1.2em;background-color:#009DE0;color:#fff;border-radius: 0;color:#fff;"><b>APPLY</b></button>
        </div> -->
          </div>
          <div class="col-md-6 col-xs-12" style="background-image: url('/static/images/story-l2.jpg');background-repeat: no-repeat;background-size: cover;min-height:50vh;margin:0;padding: 0">
          </div>
        </div>

        {% endverbatim %}
        <script>
          $(window).scroll(function() {

            function elementScrolled(elem) {
              var docViewTop = $(window).scrollTop();
              var docViewBottom = docViewTop + $(window).height();
              var elemTop = $(elem).offset().top;
              return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
            }

            function applyanimation(getById, addClass) {
              var id = getById
              if (elementScrolled(id)) {
                $(id).addClass("animHeader");
              }
            }
            applyanimation('.count', 'animHeader');
            applyanimation('#count', 'animHeader');
            applyanimation('#titleanim2', 'animHeader');
            applyanimation('#titleanim1', 'animHeader');
            applyanimation('#titleanim', 'animHeader');
            applyanimation('#titleanim3', 'animHeader');
            applyanimation('#titleanim4', 'animHeader');

            if (elementScrolled('.countt')) {
              $('.countt').each(function() {
                $(this).prop('Counter', 0).animate({
                  Counter: $(this).text()
                }, {
                  duration: 4000,
                  easing: 'swing',
                  step: function(now) {
                    $(this).text(Math.ceil(now));
                  },

                });
              });

            }

          });
        </script>
