{% extends "index.html" %}{% load staticfiles %}{% load i18n %}
{% get_current_language as lang %}

{% block brugcontent %}

{% verbatim %}

<div class="page-wrapper">
  <div class="preloader"></div><!-- /.preloader -->
  <div class="inner-banner text-center">
    <div class="container">
      <ul class="breadcrumb">

      </ul>
    </div>
  </div>
  <!-- <section class="sec-pad-with-content-margin-30 gray-bg service-page-one"> -->
  <div class="row gray-bg sec-pad-with-content-margin-30 service-page-one">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-12">
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Approvals</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px">
            <img ng-src="/static/images/brugImages/certificate1.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_6_7mm_TSR_Conformity_Certificate.pdf"> CONFORMITY CERTIFICATE </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/certificate2.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg-CTP-6.5-EN.pdf"> TYPE EXAMINATION CERTIFICATE </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/certificate2.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg-CTP-8.1-EN.pdf"> TYPE EXAMINATION CERTIFICATE </a>
            </div>
          </div>
        </div>

      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Certificates</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/certificate4.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/SQS_Certificate_Brugg_Drahtseil_AG_IQ_EN.pdf"> SQS CERTIFICATE </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Environmental Protection</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/certificate5.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_EnvironmentalPolicy_MAR-1022_EN.pdf"> ENVIRONMENTAL POLICY </a>
            </div>
          </div>
        </div>

      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Annual Report</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/certificate6.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/brugg-kabelwerke-gb-2017.pdf"> ANNUAL REPORT </a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
    <!-- <section> -->
    </div>


{% endverbatim %}
{% endblock %}
