{% extends "index.html" %}{% load staticfiles %}{% load i18n %}
{% get_current_language as lang %}

{% block brugcontent %}

{% verbatim %}

<div class="page-wrapper">
  <div class="preloader"></div><!-- /.preloader -->
  <div class="inner-banner text-center">
    <div class="container">
      <ul class="breadcrumb">

      </ul>
    </div>
  </div>
  <!-- <section class="sec-pad-with-content-margin-30 gray-bg service-page-one"> -->
  <div class="row gray-bg sec-pad-with-content-margin-30 service-page-one">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-12">
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Product Information</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px">
            <img ng-src="/static/images/brugImages/8x19template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_8x19_DE_EN.pdf"> BRUGG_8x19_DE_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/hrstemplate.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_HRS_DE_EN.pdf"> BRUGG_HRS_DE_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/RLEtemplate.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_RLE_DE_EN.pdf"> BRUGG_RLE_DE_EN </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/RPMtemplate.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_RPM_DE_EN.pdf"> BRUGG_RPM_DE_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px">
            <img ng-src="/static/images/brugImages/SCX9template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_SCX9_DE_EN.pdf"> BRUGG_SCX9_DE_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/TSRtemplate.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_TSR_DE_EN.pdf"> BRUGG_TSR_DE_EN </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/CTP1template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/BruggLifting-CTP-Katalog2019-DE.pdf"> BRUGGLIFTING-CTP-KATALOG2019-DE </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <section> -->
    </div>


{% endverbatim %}
{% endblock %}
