{% extends "index.html" %}{% load staticfiles %}{% load i18n %}
{% get_current_language as lang %}

{% block brugcontent %}

{% verbatim %}

<div class="page-wrapper">
  <div class="preloader"></div><!-- /.preloader -->
  <div class="inner-banner text-center">
    <div class="container">
      <ul class="breadcrumb">

      </ul>
    </div>
  </div>
  <!-- <section class="sec-pad-with-content-margin-30 gray-bg service-page-one"> -->
  <div class="row gray-bg sec-pad-with-content-margin-30 service-page-one">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-12">
      <div class="row" style="margin-bottom:50px">
        <div class="sec-title" style="padding-left:15px">
          <span class="tag-line"> Technical Information</span>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px">
            <img ng-src="/static/images/brugImages/catalogue1template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_7_09SheaveGR.pdf"> BRUGG_7_09SHEAVEGR </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue2template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_72012_EW_CSandHRtension.pdf"> BRUGG_72012_EW_CSANDHRTENSION </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue3template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_CEU_MOISTURE.PDF"> BRUGG_CEU_MOISTURE </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue4template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_CEU.MaxPerf.PDF"> BRUGG_CEU.MAXPERF </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px">
            <img ng-src="/static/images/brugImages/catalogue5template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_HP_ROPES_EN.pdf"> BRUGG_HP_ROPES_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue6template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_MOISTURE_EN.pdf"> BRUGG_MOISTURE_EN </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:50px">
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue7template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_RopeHandling_EN.pdf"> BRUGG_ROPEHANDLING_EN </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0em;position:relative;margin:5px;">
            <img ng-src="/static/images/brugImages/catalogue8template.png" alt="" class="bisection" style="width:100%">
            <div class="text-center" style="padding:1em">
              <a href="/static/document/Brugg_RopeLife_EN.pdf"> BRUGG_ROPELIFE_EN </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <section> -->
    </div>


{% endverbatim %}
{% endblock %}
