/*styles for world map: START*/
.worldMapMycountry:hover {
  stroke: #000;
  stroke-width: .2px;
}
.worldMapMycountry {
  stroke-width: .2px;
}
.worldMapTooltipHidden {
  display: none;
}
div.worldMapTooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.8;
  position: absolute;
}
/*styles for world map: END*/
